{
  "openapi": "3.1.0",
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "info": {
    "title": "fal.ai",
    "version": "1.0.0",
    "description": "fal.ai model APIs exposed through PaySponge with x402 billing. This bundled spec preserves the PaySponge payment metadata and documents model-specific request bodies for the supported image and video generation routes, plus the shared asynchronous queue, status, result, and cancellation response shapes used by fal.ai.",
    "x-agentcash-auth": {
      "mode": "paid"
    }
  },
  "servers": [
    {
      "url": "https://fal.x402.paysponge.com"
    }
  ],
  "paths": {
    "/fal-ai/flux/dev": {
      "post": {
        "summary": "Submit a FLUX Dev image generation request",
        "responses": {
          "200": {
            "description": "Request accepted and queued for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueSubmitResponse"
                },
                "examples": {
                  "queued": {
                    "value": {
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/flux/requests/764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "status_url": "https://fal.x402.paysponge.com/fal-ai/flux/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/status",
                      "cancel_url": "https://fal.x402.paysponge.com/fal-ai/flux/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/cancel",
                      "queue_position": 0
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.03"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/flux/dev",
          "description": "POST /fal-ai/flux/dev",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "30000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "30000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "30000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Submit a FLUX.1 Dev text-to-image job to fal.ai through the PaySponge x402 wrapper.",
        "operationId": "submitFluxDev",
        "externalDocs": {
          "description": "fal.ai model API reference",
          "url": "https://fal.ai/models/fal-ai/flux/dev/api"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FluxDevRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "prompt": "Extreme close-up of a single tiger eye, direct frontal view. Detailed iris and pupil. Sharp focus on eye texture and color. Natural lighting to capture authentic eye shine and depth. The word \"FLUX\" is painted over it in big, white brush strokes with visible texture.",
                    "image_size": "landscape_4_3",
                    "num_inference_steps": 28,
                    "guidance_scale": 3.5,
                    "num_images": 1,
                    "enable_safety_checker": true,
                    "output_format": "jpeg",
                    "acceleration": "none"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fal-ai/flux-pro/v1.1": {
      "post": {
        "summary": "Submit a FLUX Pro 1.1 image generation request",
        "responses": {
          "200": {
            "description": "Request accepted and queued for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueSubmitResponse"
                },
                "examples": {
                  "queued": {
                    "value": {
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/flux-pro/requests/764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "status_url": "https://fal.x402.paysponge.com/fal-ai/flux-pro/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/status",
                      "cancel_url": "https://fal.x402.paysponge.com/fal-ai/flux-pro/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/cancel",
                      "queue_position": 0
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.04"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/flux-pro/v1.1",
          "description": "POST /fal-ai/flux-pro/v1.1",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "40000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "40000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "40000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Submit a FLUX Pro 1.1 text-to-image job to fal.ai through the PaySponge x402 wrapper.",
        "operationId": "submitFluxProV11",
        "externalDocs": {
          "description": "fal.ai model API reference",
          "url": "https://fal.ai/models/fal-ai/flux-pro/v1.1/api"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FluxProV11Request"
              },
              "examples": {
                "default": {
                  "value": {
                    "prompt": "Extreme close-up of a single tiger eye, direct frontal view. Detailed iris and pupil. Sharp focus on eye texture and color. Natural lighting to capture authentic eye shine and depth. The word \"FLUX\" is painted over it in big, white brush strokes with visible texture.",
                    "image_size": "landscape_4_3",
                    "num_images": 1,
                    "output_format": "jpeg",
                    "safety_tolerance": "2"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fal-ai/stable-diffusion-v35-large/requests/{request_id}/status": {
      "get": {
        "summary": "Check request status",
        "responses": {
          "200": {
            "description": "Current queue state for the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueStatusResponse"
                },
                "examples": {
                  "inQueue": {
                    "value": {
                      "status": "IN_QUEUE",
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "queue_position": 2,
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/flux/dev/requests/764cabcf-b745-4b3e-ae38-1200304cf45b"
                    }
                  },
                  "inProgress": {
                    "value": {
                      "status": "IN_PROGRESS",
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/flux/dev/requests/764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "logs": [
                        {
                          "message": "Loading model weights...",
                          "timestamp": "2026-02-17T10:30:01.123Z"
                        },
                        {
                          "message": "Generating image...",
                          "timestamp": "2026-02-17T10:30:02.456Z"
                        }
                      ]
                    }
                  },
                  "completed": {
                    "value": {
                      "status": "COMPLETED",
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/flux/dev/requests/764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "logs": [
                        {
                          "message": "Done.",
                          "timestamp": "2026-02-17T10:30:05.789Z"
                        }
                      ],
                      "metrics": {
                        "inference_time": 3.42
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "routeTemplate": "/fal-ai/stable-diffusion-v35-large/requests/:request_id/status",
                "pathParams": {
                  "request_id": "<request_id>"
                }
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "object",
              "properties": {
                "input": {
                  "properties": {
                    "routeTemplate": {
                      "type": "string",
                      "const": "/fal-ai/stable-diffusion-v35-large/requests/:request_id/status"
                    },
                    "pathParams": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "request_id"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "routeTemplate",
                    "pathParams"
                  ]
                }
              },
              "required": [
                "input"
              ],
              "additionalProperties": false
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.00"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/stable-diffusion-v35-large/requests/{request_id}/status",
          "description": "GET /fal-ai/stable-diffusion-v35-large/requests/{request_id}/status",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Check whether a queued fal.ai request is still waiting, actively processing, or completed. Add `logs=1` to include runner log output when available.",
        "operationId": "getStableDiffusionV35LargeStatus",
        "externalDocs": {
          "description": "fal.ai asynchronous inference reference",
          "url": "https://fal.ai/docs/documentation/model-apis/inference/queue"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestIdPath"
          },
          {
            "$ref": "#/components/parameters/LogsQuery"
          }
        ]
      }
    },
    "/fal-ai/fast-sdxl": {
      "post": {
        "summary": "Submit a Fast SDXL image generation request",
        "responses": {
          "200": {
            "description": "Request accepted and queued for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueSubmitResponse"
                },
                "examples": {
                  "queued": {
                    "value": {
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/fast-sdxl/requests/764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "status_url": "https://fal.x402.paysponge.com/fal-ai/fast-sdxl/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/status",
                      "cancel_url": "https://fal.x402.paysponge.com/fal-ai/fast-sdxl/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/cancel",
                      "queue_position": 0
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.01"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/fast-sdxl",
          "description": "POST /fal-ai/fast-sdxl",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Submit a Fast SDXL text-to-image job to fal.ai through the PaySponge x402 wrapper. The response returns a request identifier and follow-up URLs for polling status, retrieving the final result, or canceling the job.",
        "operationId": "submitFastSdxl",
        "externalDocs": {
          "description": "fal.ai model API reference",
          "url": "https://fal.ai/models/fal-ai/fast-sdxl/api"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FastSdxlRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "guidance_scale": 7.5,
                    "image_size": "square_hd",
                    "enable_safety_checker": true,
                    "format": "jpeg",
                    "num_images": 1,
                    "prompt": "photo of a rhino dressed suit and tie sitting at a table in a bar with a bar stools, award winning photography, Elke vogelsang",
                    "loras": [],
                    "negative_prompt": "cartoon, illustration, animation. face. male, female",
                    "embeddings": [],
                    "num_inference_steps": 25,
                    "safety_checker_version": "v1"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fal-ai/stable-diffusion-v35-large": {
      "post": {
        "summary": "Submit a Stable Diffusion 3.5 Large image generation request",
        "responses": {
          "200": {
            "description": "Request accepted and queued for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueSubmitResponse"
                },
                "examples": {
                  "queued": {
                    "value": {
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/stable-diffusion-v35-large/requests/764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "status_url": "https://fal.x402.paysponge.com/fal-ai/stable-diffusion-v35-large/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/status",
                      "cancel_url": "https://fal.x402.paysponge.com/fal-ai/stable-diffusion-v35-large/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/cancel",
                      "queue_position": 0
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.04"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/stable-diffusion-v35-large",
          "description": "POST /fal-ai/stable-diffusion-v35-large",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "40000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "40000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "40000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Submit a Stable Diffusion 3.5 Large text-to-image job to fal.ai through the PaySponge x402 wrapper. This model supports ControlNet, LoRAs, and IP-Adapter conditioning.",
        "operationId": "submitStableDiffusionV35Large",
        "externalDocs": {
          "description": "fal.ai model API reference",
          "url": "https://fal.ai/models/fal-ai/stable-diffusion-v35-large/api"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StableDiffusionV35LargeRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "prompt": "A dreamlike Japanese garden in perpetual twilight, bathed in bioluminescent cherry blossoms that emit a soft pink-purple glow. Floating paper lanterns drift lazily through the scene, their warm light creating dancing reflections in a mirror-like koi pond. Ethereal mist weaves between ancient stone pathways lined with glowing mushrooms in pastel blues and purples. A traditional wooden bridge arches gracefully over the water, dusted with fallen petals that sparkle like stardust. The scene is captured through a cinematic lens with perfect bokeh, creating an otherworldly atmosphere. In the background, a crescent moon hangs impossibly large in the sky, surrounded by a sea of stars and auroral wisps in teal and violet. Crystal formations emerge from the ground, refracting the ambient light into rainbow prisms. The entire composition follows the golden ratio, with moody film-like color grading reminiscent of Studio Ghibli, enhanced by volumetric god rays filtering through the luminous foliage. 8K resolution, masterful photography, hyperdetailed, magical realism.",
                    "negative_prompt": "",
                    "num_inference_steps": 28,
                    "guidance_scale": 3.5,
                    "num_images": 1,
                    "enable_safety_checker": true,
                    "output_format": "jpeg"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fal-ai/flux/schnell": {
      "post": {
        "summary": "Submit a FLUX Schnell image generation request",
        "responses": {
          "200": {
            "description": "Request accepted and queued for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueSubmitResponse"
                },
                "examples": {
                  "queued": {
                    "value": {
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/flux/requests/764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "status_url": "https://fal.x402.paysponge.com/fal-ai/flux/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/status",
                      "cancel_url": "https://fal.x402.paysponge.com/fal-ai/flux/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/cancel",
                      "queue_position": 0
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.01"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/flux/schnell",
          "description": "POST /fal-ai/flux/schnell",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Submit a FLUX.1 Schnell text-to-image job to fal.ai through the PaySponge x402 wrapper. Use this route for the lowest-cost FLUX draft generations.",
        "operationId": "submitFluxSchnell",
        "externalDocs": {
          "description": "fal.ai model API reference",
          "url": "https://fal.ai/models/fal-ai/flux/schnell/api"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FluxSchnellRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "num_inference_steps": 4,
                    "prompt": "Extreme close-up of a single tiger eye, direct frontal view. Detailed iris and pupil. Sharp focus on eye texture and color. Natural lighting to capture authentic eye shine and depth. The word \"FLUX\" is painted over it in big, white brush strokes with visible texture.",
                    "image_size": "landscape_4_3",
                    "guidance_scale": 3.5,
                    "num_images": 1,
                    "enable_safety_checker": true,
                    "output_format": "jpeg",
                    "acceleration": "none"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fal-ai/stable-diffusion-v35-large/requests/{request_id}/cancel": {
      "put": {
        "summary": "Cancel a queued request",
        "responses": {
          "200": {
            "description": "Cancellation status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResponse"
                },
                "examples": {
                  "accepted": {
                    "value": {
                      "status": "CANCELLATION_REQUESTED"
                    }
                  },
                  "alreadyCompleted": {
                    "value": {
                      "status": "ALREADY_COMPLETED"
                    }
                  },
                  "notFound": {
                    "value": {
                      "status": "NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "routeTemplate": "/fal-ai/stable-diffusion-v35-large/requests/:request_id/cancel",
                "pathParams": {
                  "request_id": "<request_id>"
                }
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "object",
              "properties": {
                "input": {
                  "properties": {
                    "routeTemplate": {
                      "type": "string",
                      "const": "/fal-ai/stable-diffusion-v35-large/requests/:request_id/cancel"
                    },
                    "pathParams": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "request_id"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "routeTemplate",
                    "pathParams"
                  ]
                }
              },
              "required": [
                "input"
              ],
              "additionalProperties": false
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.00"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/stable-diffusion-v35-large/requests/{request_id}/cancel",
          "description": "PUT /fal-ai/stable-diffusion-v35-large/requests/{request_id}/cancel",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Request cancellation for a queued or in-progress fal.ai job. Depending on the request state, fal can accept the cancellation, report that the request already completed, or indicate that the request ID does not exist.",
        "operationId": "cancelStableDiffusionV35LargeRequest",
        "externalDocs": {
          "description": "fal.ai asynchronous inference reference",
          "url": "https://fal.ai/docs/documentation/model-apis/inference/queue"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestIdPath"
          }
        ]
      }
    },
    "/fal-ai/fast-sdxl/requests/{request_id}": {
      "get": {
        "summary": "Get the final Fast SDXL result",
        "responses": {
          "200": {
            "description": "Final model output for the completed request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResult"
                },
                "examples": {
                  "success": {
                    "value": {
                      "images": [
                        {
                          "url": "https://v3.fal.media/files/rabbit/abc123.png",
                          "width": 1024,
                          "height": 1024,
                          "content_type": "image/png"
                        }
                      ],
                      "timings": {
                        "inference_time": 3.42
                      },
                      "seed": 42,
                      "has_nsfw_concepts": [
                        false
                      ],
                      "prompt": "a sunset over mountains"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "routeTemplate": "/fal-ai/fast-sdxl/requests/:request_id",
                "pathParams": {
                  "request_id": "<request_id>"
                }
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "object",
              "properties": {
                "input": {
                  "properties": {
                    "routeTemplate": {
                      "type": "string",
                      "const": "/fal-ai/fast-sdxl/requests/:request_id"
                    },
                    "pathParams": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "request_id"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "routeTemplate",
                    "pathParams"
                  ]
                }
              },
              "required": [
                "input"
              ],
              "additionalProperties": false
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.00"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/fast-sdxl/requests/{request_id}",
          "description": "GET /fal-ai/fast-sdxl/requests/{request_id}",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Retrieve the final Fast SDXL output for a previously submitted request.",
        "operationId": "getFastSdxlResult",
        "externalDocs": {
          "description": "fal.ai model API reference",
          "url": "https://fal.ai/models/fal-ai/fast-sdxl/api"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestIdPath"
          }
        ]
      }
    },
    "/fal-ai/recraft-v3": {
      "post": {
        "summary": "Submit a Recraft V3 image generation request",
        "responses": {
          "200": {
            "description": "Request accepted and queued for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueSubmitResponse"
                },
                "examples": {
                  "queued": {
                    "value": {
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/recraft-v3/requests/764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "status_url": "https://fal.x402.paysponge.com/fal-ai/recraft-v3/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/status",
                      "cancel_url": "https://fal.x402.paysponge.com/fal-ai/recraft-v3/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/cancel",
                      "queue_position": 0
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.04"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/recraft-v3",
          "description": "POST /fal-ai/recraft-v3",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "40000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "40000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "40000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Submit a Recraft V3 text-to-image job to fal.ai through the PaySponge x402 wrapper. Recraft supports brand-oriented rendering, long text in images, and optional palette hints.",
        "operationId": "submitRecraftV3",
        "externalDocs": {
          "description": "fal.ai model API reference",
          "url": "https://fal.ai/models/fal-ai/recraft-v3/api"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecraftV3Request"
              },
              "examples": {
                "default": {
                  "value": {
                    "prompt": "a red panda eating a bamboo in front of a poster that says \"recraft V3 now available at fal\"",
                    "image_size": "square_hd",
                    "style": "realistic_image",
                    "colors": []
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fal-ai/recraft-v3/requests/{request_id}/cancel": {
      "put": {
        "summary": "Cancel a queued request",
        "responses": {
          "200": {
            "description": "Cancellation status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResponse"
                },
                "examples": {
                  "accepted": {
                    "value": {
                      "status": "CANCELLATION_REQUESTED"
                    }
                  },
                  "alreadyCompleted": {
                    "value": {
                      "status": "ALREADY_COMPLETED"
                    }
                  },
                  "notFound": {
                    "value": {
                      "status": "NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "routeTemplate": "/fal-ai/recraft-v3/requests/:request_id/cancel",
                "pathParams": {
                  "request_id": "<request_id>"
                }
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "object",
              "properties": {
                "input": {
                  "properties": {
                    "routeTemplate": {
                      "type": "string",
                      "const": "/fal-ai/recraft-v3/requests/:request_id/cancel"
                    },
                    "pathParams": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "request_id"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "routeTemplate",
                    "pathParams"
                  ]
                }
              },
              "required": [
                "input"
              ],
              "additionalProperties": false
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.00"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/recraft-v3/requests/{request_id}/cancel",
          "description": "PUT /fal-ai/recraft-v3/requests/{request_id}/cancel",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Request cancellation for a queued or in-progress fal.ai job. Depending on the request state, fal can accept the cancellation, report that the request already completed, or indicate that the request ID does not exist.",
        "operationId": "cancelRecraftV3Request",
        "externalDocs": {
          "description": "fal.ai asynchronous inference reference",
          "url": "https://fal.ai/docs/documentation/model-apis/inference/queue"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestIdPath"
          }
        ]
      }
    },
    "/fal-ai/flux-pro/v1.1-ultra": {
      "post": {
        "summary": "Submit a FLUX Pro 1.1 Ultra image generation request",
        "responses": {
          "200": {
            "description": "Request accepted and queued for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueSubmitResponse"
                },
                "examples": {
                  "queued": {
                    "value": {
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/flux-pro/requests/764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "status_url": "https://fal.x402.paysponge.com/fal-ai/flux-pro/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/status",
                      "cancel_url": "https://fal.x402.paysponge.com/fal-ai/flux-pro/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/cancel",
                      "queue_position": 0
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.06"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/flux-pro/v1.1-ultra",
          "description": "POST /fal-ai/flux-pro/v1.1-ultra",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "60000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "60000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "60000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Submit a FLUX Pro 1.1 Ultra text-to-image job to fal.ai through the PaySponge x402 wrapper. This variant supports optional image prompting, aspect-ratio control, and raw rendering mode.",
        "operationId": "submitFluxProV11Ultra",
        "externalDocs": {
          "description": "fal.ai model API reference",
          "url": "https://fal.ai/models/fal-ai/flux-pro/v1.1-ultra/api"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FluxProV11UltraRequest"
              },
              "examples": {
                "default": {
                  "value": {
                    "prompt": "Extreme close-up of a single tiger eye, direct frontal view. Detailed iris and pupil. Sharp focus on eye texture and color. Natural lighting to capture authentic eye shine and depth. The word \"FLUX\" is painted over it in big, white brush strokes with visible texture.",
                    "num_images": 1,
                    "output_format": "jpeg",
                    "safety_tolerance": "2",
                    "image_prompt_strength": 0.1,
                    "aspect_ratio": "16:9"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fal-ai/stable-diffusion-v35-large/requests/{request_id}": {
      "get": {
        "summary": "Get the final Stable Diffusion 3.5 Large result",
        "responses": {
          "200": {
            "description": "Final model output for the completed request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageGenerationResult"
                },
                "examples": {
                  "success": {
                    "value": {
                      "images": [
                        {
                          "url": "https://v3.fal.media/files/rabbit/abc123.png",
                          "width": 1024,
                          "height": 1024,
                          "content_type": "image/jpeg"
                        }
                      ],
                      "timings": {
                        "inference_time": 4.08
                      },
                      "seed": 42,
                      "has_nsfw_concepts": [
                        false
                      ],
                      "prompt": "A dreamlike Japanese garden in perpetual twilight"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "routeTemplate": "/fal-ai/stable-diffusion-v35-large/requests/:request_id",
                "pathParams": {
                  "request_id": "<request_id>"
                }
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "object",
              "properties": {
                "input": {
                  "properties": {
                    "routeTemplate": {
                      "type": "string",
                      "const": "/fal-ai/stable-diffusion-v35-large/requests/:request_id"
                    },
                    "pathParams": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "request_id"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "routeTemplate",
                    "pathParams"
                  ]
                }
              },
              "required": [
                "input"
              ],
              "additionalProperties": false
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.00"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/stable-diffusion-v35-large/requests/{request_id}",
          "description": "GET /fal-ai/stable-diffusion-v35-large/requests/{request_id}",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Retrieve the final Stable Diffusion 3.5 Large output for a previously submitted request.",
        "operationId": "getStableDiffusionV35LargeResult",
        "externalDocs": {
          "description": "fal.ai model API reference",
          "url": "https://fal.ai/models/fal-ai/stable-diffusion-v35-large/api"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestIdPath"
          }
        ]
      }
    },
    "/fal-ai/stable-video/requests/{request_id}/status": {
      "get": {
        "summary": "Check request status",
        "responses": {
          "200": {
            "description": "Current queue state for the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueStatusResponse"
                },
                "examples": {
                  "inQueue": {
                    "value": {
                      "status": "IN_QUEUE",
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "queue_position": 2,
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/flux/dev/requests/764cabcf-b745-4b3e-ae38-1200304cf45b"
                    }
                  },
                  "inProgress": {
                    "value": {
                      "status": "IN_PROGRESS",
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/flux/dev/requests/764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "logs": [
                        {
                          "message": "Loading model weights...",
                          "timestamp": "2026-02-17T10:30:01.123Z"
                        },
                        {
                          "message": "Generating image...",
                          "timestamp": "2026-02-17T10:30:02.456Z"
                        }
                      ]
                    }
                  },
                  "completed": {
                    "value": {
                      "status": "COMPLETED",
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/flux/dev/requests/764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "logs": [
                        {
                          "message": "Done.",
                          "timestamp": "2026-02-17T10:30:05.789Z"
                        }
                      ],
                      "metrics": {
                        "inference_time": 3.42
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "routeTemplate": "/fal-ai/stable-video/requests/:request_id/status",
                "pathParams": {
                  "request_id": "<request_id>"
                }
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "object",
              "properties": {
                "input": {
                  "properties": {
                    "routeTemplate": {
                      "type": "string",
                      "const": "/fal-ai/stable-video/requests/:request_id/status"
                    },
                    "pathParams": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "request_id"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "routeTemplate",
                    "pathParams"
                  ]
                }
              },
              "required": [
                "input"
              ],
              "additionalProperties": false
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.00"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/stable-video/requests/{request_id}/status",
          "description": "GET /fal-ai/stable-video/requests/{request_id}/status",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Check whether a queued fal.ai request is still waiting, actively processing, or completed. Add `logs=1` to include runner log output when available.",
        "operationId": "getStableVideoStatus",
        "externalDocs": {
          "description": "fal.ai asynchronous inference reference",
          "url": "https://fal.ai/docs/documentation/model-apis/inference/queue"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestIdPath"
          },
          {
            "$ref": "#/components/parameters/LogsQuery"
          }
        ]
      }
    },
    "/fal-ai/minimax/requests/{request_id}/cancel": {
      "put": {
        "summary": "Cancel a queued request",
        "responses": {
          "200": {
            "description": "Cancellation status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResponse"
                },
                "examples": {
                  "accepted": {
                    "value": {
                      "status": "CANCELLATION_REQUESTED"
                    }
                  },
                  "alreadyCompleted": {
                    "value": {
                      "status": "ALREADY_COMPLETED"
                    }
                  },
                  "notFound": {
                    "value": {
                      "status": "NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "routeTemplate": "/fal-ai/minimax/requests/:request_id/cancel",
                "pathParams": {
                  "request_id": "<request_id>"
                }
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "object",
              "properties": {
                "input": {
                  "properties": {
                    "routeTemplate": {
                      "type": "string",
                      "const": "/fal-ai/minimax/requests/:request_id/cancel"
                    },
                    "pathParams": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "request_id"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "routeTemplate",
                    "pathParams"
                  ]
                }
              },
              "required": [
                "input"
              ],
              "additionalProperties": false
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.00"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/minimax/requests/{request_id}/cancel",
          "description": "PUT /fal-ai/minimax/requests/{request_id}/cancel",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Request cancellation for a queued or in-progress fal.ai job. Depending on the request state, fal can accept the cancellation, report that the request already completed, or indicate that the request ID does not exist.",
        "operationId": "cancelMiniMaxVideo01Request",
        "externalDocs": {
          "description": "fal.ai asynchronous inference reference",
          "url": "https://fal.ai/docs/documentation/model-apis/inference/queue"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestIdPath"
          }
        ]
      }
    },
    "/fal-ai/minimax/video-01": {
      "post": {
        "summary": "Submit a MiniMax Video 01 generation request",
        "responses": {
          "200": {
            "description": "Request accepted and queued for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueSubmitResponse"
                },
                "examples": {
                  "queued": {
                    "value": {
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/minimax/requests/764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "status_url": "https://fal.x402.paysponge.com/fal-ai/minimax/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/status",
                      "cancel_url": "https://fal.x402.paysponge.com/fal-ai/minimax/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/cancel",
                      "queue_position": 0
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.07"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/minimax/video-01",
          "description": "POST /fal-ai/minimax/video-01",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "70000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "70000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "70000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Submit a MiniMax Video 01 text-to-video job to fal.ai through the PaySponge x402 wrapper.",
        "operationId": "submitMiniMaxVideo01",
        "externalDocs": {
          "description": "fal.ai model API reference",
          "url": "https://fal.ai/models/fal-ai/minimax/video-01/api"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MiniMaxVideo01Request"
              },
              "examples": {
                "default": {
                  "value": {
                    "prompt": "A stylish woman walks down a Tokyo street filled with warm glowing neon and animated city signage. She wears a black leather jacket, a long red dress, and black boots, and carries a black purse.",
                    "prompt_optimizer": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fal-ai/fast-sdxl/requests/{request_id}/status": {
      "get": {
        "summary": "Check request status",
        "responses": {
          "200": {
            "description": "Current queue state for the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueStatusResponse"
                },
                "examples": {
                  "inQueue": {
                    "value": {
                      "status": "IN_QUEUE",
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "queue_position": 2,
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/flux/dev/requests/764cabcf-b745-4b3e-ae38-1200304cf45b"
                    }
                  },
                  "inProgress": {
                    "value": {
                      "status": "IN_PROGRESS",
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/flux/dev/requests/764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "logs": [
                        {
                          "message": "Loading model weights...",
                          "timestamp": "2026-02-17T10:30:01.123Z"
                        },
                        {
                          "message": "Generating image...",
                          "timestamp": "2026-02-17T10:30:02.456Z"
                        }
                      ]
                    }
                  },
                  "completed": {
                    "value": {
                      "status": "COMPLETED",
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/flux/dev/requests/764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "logs": [
                        {
                          "message": "Done.",
                          "timestamp": "2026-02-17T10:30:05.789Z"
                        }
                      ],
                      "metrics": {
                        "inference_time": 3.42
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "routeTemplate": "/fal-ai/fast-sdxl/requests/:request_id/status",
                "pathParams": {
                  "request_id": "<request_id>"
                }
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "object",
              "properties": {
                "input": {
                  "properties": {
                    "routeTemplate": {
                      "type": "string",
                      "const": "/fal-ai/fast-sdxl/requests/:request_id/status"
                    },
                    "pathParams": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "request_id"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "routeTemplate",
                    "pathParams"
                  ]
                }
              },
              "required": [
                "input"
              ],
              "additionalProperties": false
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.00"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/fast-sdxl/requests/{request_id}/status",
          "description": "GET /fal-ai/fast-sdxl/requests/{request_id}/status",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Check whether a queued fal.ai request is still waiting, actively processing, or completed. Add `logs=1` to include runner log output when available.",
        "operationId": "getFastSdxlStatus",
        "externalDocs": {
          "description": "fal.ai asynchronous inference reference",
          "url": "https://fal.ai/docs/documentation/model-apis/inference/queue"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestIdPath"
          },
          {
            "$ref": "#/components/parameters/LogsQuery"
          }
        ]
      }
    },
    "/fal-ai/recraft-v3/requests/{request_id}": {
      "get": {
        "summary": "Get the final Recraft V3 result",
        "responses": {
          "200": {
            "description": "Final model output for the completed request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecraftV3Result"
                },
                "examples": {
                  "success": {
                    "value": {
                      "images": [
                        {
                          "url": "https://fal.media/files/penguin/852yy3l5DGLmrwAK42RTB_image.webp"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "routeTemplate": "/fal-ai/recraft-v3/requests/:request_id",
                "pathParams": {
                  "request_id": "<request_id>"
                }
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "object",
              "properties": {
                "input": {
                  "properties": {
                    "routeTemplate": {
                      "type": "string",
                      "const": "/fal-ai/recraft-v3/requests/:request_id"
                    },
                    "pathParams": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "request_id"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "routeTemplate",
                    "pathParams"
                  ]
                }
              },
              "required": [
                "input"
              ],
              "additionalProperties": false
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.00"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/recraft-v3/requests/{request_id}",
          "description": "GET /fal-ai/recraft-v3/requests/{request_id}",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Retrieve the final Recraft V3 output for a previously submitted request.",
        "operationId": "getRecraftV3Result",
        "externalDocs": {
          "description": "fal.ai model API reference",
          "url": "https://fal.ai/models/fal-ai/recraft-v3/api"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestIdPath"
          }
        ]
      }
    },
    "/fal-ai/fast-sdxl/requests/{request_id}/cancel": {
      "put": {
        "summary": "Cancel a queued request",
        "responses": {
          "200": {
            "description": "Cancellation status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResponse"
                },
                "examples": {
                  "accepted": {
                    "value": {
                      "status": "CANCELLATION_REQUESTED"
                    }
                  },
                  "alreadyCompleted": {
                    "value": {
                      "status": "ALREADY_COMPLETED"
                    }
                  },
                  "notFound": {
                    "value": {
                      "status": "NOT_FOUND"
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "routeTemplate": "/fal-ai/fast-sdxl/requests/:request_id/cancel",
                "pathParams": {
                  "request_id": "<request_id>"
                }
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "object",
              "properties": {
                "input": {
                  "properties": {
                    "routeTemplate": {
                      "type": "string",
                      "const": "/fal-ai/fast-sdxl/requests/:request_id/cancel"
                    },
                    "pathParams": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "request_id"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "routeTemplate",
                    "pathParams"
                  ]
                }
              },
              "required": [
                "input"
              ],
              "additionalProperties": false
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.00"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/fast-sdxl/requests/{request_id}/cancel",
          "description": "PUT /fal-ai/fast-sdxl/requests/{request_id}/cancel",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Request cancellation for a queued or in-progress fal.ai job. Depending on the request state, fal can accept the cancellation, report that the request already completed, or indicate that the request ID does not exist.",
        "operationId": "cancelFastSdxlRequest",
        "externalDocs": {
          "description": "fal.ai asynchronous inference reference",
          "url": "https://fal.ai/docs/documentation/model-apis/inference/queue"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestIdPath"
          }
        ]
      }
    },
    "/fal-ai/recraft-v3/requests/{request_id}/status": {
      "get": {
        "summary": "Check request status",
        "responses": {
          "200": {
            "description": "Current queue state for the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueStatusResponse"
                },
                "examples": {
                  "inQueue": {
                    "value": {
                      "status": "IN_QUEUE",
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "queue_position": 2,
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/flux/dev/requests/764cabcf-b745-4b3e-ae38-1200304cf45b"
                    }
                  },
                  "inProgress": {
                    "value": {
                      "status": "IN_PROGRESS",
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/flux/dev/requests/764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "logs": [
                        {
                          "message": "Loading model weights...",
                          "timestamp": "2026-02-17T10:30:01.123Z"
                        },
                        {
                          "message": "Generating image...",
                          "timestamp": "2026-02-17T10:30:02.456Z"
                        }
                      ]
                    }
                  },
                  "completed": {
                    "value": {
                      "status": "COMPLETED",
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/flux/dev/requests/764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "logs": [
                        {
                          "message": "Done.",
                          "timestamp": "2026-02-17T10:30:05.789Z"
                        }
                      ],
                      "metrics": {
                        "inference_time": 3.42
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "routeTemplate": "/fal-ai/recraft-v3/requests/:request_id/status",
                "pathParams": {
                  "request_id": "<request_id>"
                }
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "object",
              "properties": {
                "input": {
                  "properties": {
                    "routeTemplate": {
                      "type": "string",
                      "const": "/fal-ai/recraft-v3/requests/:request_id/status"
                    },
                    "pathParams": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "request_id"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "routeTemplate",
                    "pathParams"
                  ]
                }
              },
              "required": [
                "input"
              ],
              "additionalProperties": false
            }
          }
        },
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.00"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://fal.x402.paysponge.com/fal-ai/recraft-v3/requests/{request_id}/status",
          "description": "GET /fal-ai/recraft-v3/requests/{request_id}/status",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0xD73912BA30832328a3db96BeE73ebfaB58b7429f",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9hw9Py9uMGtXRNpABZjifcK1t3suwzjyri9L9QYKg6zZ",
            "asset": "usdc",
            "amount": "1",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "description": "Check whether a queued fal.ai request is still waiting, actively processing, or completed. Add `logs=1` to include runner log output when available.",
        "operationId": "getRecraftV3Status",
        "externalDocs": {
          "description": "fal.ai asynchronous inference reference",
          "url": "https://fal.ai/docs/documentation/model-apis/inference/queue"
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/RequestIdPath"
          },
          {
            "$ref": "#/components/parameters/LogsQuery"
          }
        ]
      }
    },
    "/fal-ai/stable-video": {
      "post": {
        "summary": "Submit a Stable Video generation request",
        "responses": {
          "200": {
            "description": "Request accepted and queued for asynchronous processing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueSubmitResponse"
                },
                "examples": {
                  "queued": {
                    "value": {
                      "request_id": "764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "response_url": "https://fal.x402.paysponge.com/fal-ai/stable-video/requests/764cabcf-b745-4b3e-ae38-1200304cf45b",
                      "status_url": "https://fal.x402.paysponge.com/fal-ai/stable-video/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/status",
                      "cancel_url": "https://fal.x402.paysponge.com/fal-ai/stable-video/requests/764cabcf-b745-4b3e-ae38-1200304cf45b/cancel",
                      "queue_position": 0
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/X402PaymentRequired"
                }
              }
            }
          }
        },
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
[...]
