{
  "components": {
    "schemas": {
      "ChatCompletionResponse": {
        "properties": {
          "choices": {
            "items": {
              "properties": {
                "finish_reason": {
                  "type": "string"
                },
                "index": {
                  "type": "integer"
                },
                "message": {
                  "properties": {
                    "content": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "items": {
                            "additionalProperties": true,
                            "type": "object"
                          },
                          "type": "array"
                        }
                      ]
                    },
                    "role": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "created": {
            "type": "integer"
          },
          "id": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "usage": {
            "properties": {
              "completion_tokens": {
                "type": "integer"
              },
              "prompt_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "properties": {
          "error": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            ]
          },
          "request_id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "OcrContentPart": {
        "oneOf": [
          {
            "properties": {
              "text": {
                "type": "string"
              },
              "type": {
                "enum": [
                  "text"
                ],
                "type": "string"
              }
            },
            "required": [
              "type",
              "text"
            ],
            "type": "object"
          },
          {
            "properties": {
              "enable_rotate": {
                "type": "boolean"
              },
              "image_url": {
                "properties": {
                  "url": {
                    "format": "uri",
                    "type": "string"
                  }
                },
                "required": [
                  "url"
                ],
                "type": "object"
              },
              "max_pixels": {
                "type": "integer"
              },
              "min_pixels": {
                "type": "integer"
              },
              "type": {
                "enum": [
                  "image_url"
                ],
                "type": "string"
              }
            },
            "required": [
              "type",
              "image_url"
            ],
            "type": "object"
          }
        ]
      },
      "OcrMessage": {
        "properties": {
          "content": {
            "items": {
              "$ref": "#/components/schemas/OcrContentPart"
            },
            "type": "array"
          },
          "role": {
            "enum": [
              "user"
            ],
            "type": "string"
          }
        },
        "required": [
          "role",
          "content"
        ],
        "type": "object"
      },
      "QwenOcrChatCompletionRequest": {
        "properties": {
          "messages": {
            "items": {
              "$ref": "#/components/schemas/OcrMessage"
            },
            "minItems": 1,
            "type": "array"
          },
          "model": {
            "enum": [
              "qwen-vl-ocr-2025-11-20"
            ],
            "type": "string"
          },
          "ocr_options": {
            "properties": {
              "task": {
                "enum": [
                  "text_recognition",
                  "table_parsing",
                  "document_parsing",
                  "formula_recognition",
                  "multi_lan"
                ],
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "model",
          "messages"
        ],
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Filtered OpenAPI description for the Qwen OCR proxy backed by Alibaba Cloud Model Studio's OpenAI-compatible chat completions endpoint.",
    "title": "Alibaba Cloud Model Studio OCR API",
    "version": "v1"
  },
  "openapi": "3.0.3",
  "paths": {
    "/compatible-mode/v1/chat/completions": {
      "post": {
        "description": "Submit an OCR request using the OpenAI-compatible chat completions API with image_url content blocks and optional OCR task selection.",
        "operationId": "alibaba.ocr.chatCompletions",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "messages": [
                  {
                    "content": [
                      {
                        "image_url": {
                          "url": "https://img.alicdn.com/imgextra/i2/O1CN01ktT8451iQutqReELT_!!6000000004408-0-tps-689-487.jpg"
                        },
                        "max_pixels": 8388608,
                        "min_pixels": 3072,
                        "type": "image_url"
                      },
                      {
                        "text": "Extract the key invoice fields and return them as JSON.",
                        "type": "text"
                      }
                    ],
                    "role": "user"
                  }
                ],
                "model": "qwen-vl-ocr-2025-11-20",
                "ocr_options": {
                  "task": "text_recognition"
                }
              },
              "schema": {
                "$ref": "#/components/schemas/QwenOcrChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            },
            "description": "Successful OCR response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Invalid request."
          }
        },
        "summary": "Perform OCR with Qwen OCR",
        "tags": [
          "chat.completions"
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://ocr.alibaba.gateway-402.com"
    }
  ],
  "tags": [
    {
      "name": "chat.completions"
    }
  ]
}
