{
  "openapi": "3.1.0",
  "info": {
    "title": "Tripadvisor",
    "description": "Tripadvisor Content API — search, location details, reviews, and photos for hotels, restaurants, and attractions worldwide.",
    "version": "1.0.0",
    "x-agentcash-auth": {
      "mode": "paid"
    }
  },
  "servers": [
    {
      "url": "https://tripadvisor.x402.paysponge.com"
    }
  ],
  "paths": {
    "/api/v1/location/:locationId/details": {
      "get": {
        "summary": "GET /api/v1/location/:locationId/details",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.01"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://tripadvisor.x402.paysponge.com/api/v1/location/:locationId/details",
          "description": "GET /api/v1/location/:locationId/details",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:137",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9246XrsAEKH6hAyEQe5PvdpUL1p5Ktj9c7ySnwQn6ois",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "routeTemplate": "/api/v1/location/:locationId/details",
                "pathParams": {
                  "locationId": "<locationId>"
                }
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "object",
              "properties": {
                "input": {
                  "properties": {
                    "routeTemplate": {
                      "type": "string",
                      "const": "/api/v1/location/:locationId/details"
                    },
                    "pathParams": {
                      "type": "object",
                      "properties": {
                        "locationId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "locationId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "routeTemplate",
                    "pathParams"
                  ]
                }
              },
              "required": [
                "input"
              ],
              "additionalProperties": false
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/location/:locationId/photos": {
      "get": {
        "summary": "GET /api/v1/location/:locationId/photos",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.01"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://tripadvisor.x402.paysponge.com/api/v1/location/:locationId/photos",
          "description": "GET /api/v1/location/:locationId/photos",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:137",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9246XrsAEKH6hAyEQe5PvdpUL1p5Ktj9c7ySnwQn6ois",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "routeTemplate": "/api/v1/location/:locationId/photos",
                "pathParams": {
                  "locationId": "<locationId>"
                }
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "object",
              "properties": {
                "input": {
                  "properties": {
                    "routeTemplate": {
                      "type": "string",
                      "const": "/api/v1/location/:locationId/photos"
                    },
                    "pathParams": {
                      "type": "object",
                      "properties": {
                        "locationId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "locationId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "routeTemplate",
                    "pathParams"
                  ]
                }
              },
              "required": [
                "input"
              ],
              "additionalProperties": false
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/location/:locationId/reviews": {
      "get": {
        "summary": "GET /api/v1/location/:locationId/reviews",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.01"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://tripadvisor.x402.paysponge.com/api/v1/location/:locationId/reviews",
          "description": "GET /api/v1/location/:locationId/reviews",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:137",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9246XrsAEKH6hAyEQe5PvdpUL1p5Ktj9c7ySnwQn6ois",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "routeTemplate": "/api/v1/location/:locationId/reviews",
                "pathParams": {
                  "locationId": "<locationId>"
                }
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "schema": {
              "$schema": "https://json-schema.org/draft/2020-12/schema",
              "type": "object",
              "properties": {
                "input": {
                  "properties": {
                    "routeTemplate": {
                      "type": "string",
                      "const": "/api/v1/location/:locationId/reviews"
                    },
                    "pathParams": {
                      "type": "object",
                      "properties": {
                        "locationId": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "locationId"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "routeTemplate",
                    "pathParams"
                  ]
                }
              },
              "required": [
                "input"
              ],
              "additionalProperties": false
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/location/nearby_search": {
      "get": {
        "summary": "GET /api/v1/location/nearby_search",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.01"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://tripadvisor.x402.paysponge.com/api/v1/location/nearby_search",
          "description": "GET /api/v1/location/nearby_search",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:137",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9246XrsAEKH6hAyEQe5PvdpUL1p5Ktj9c7ySnwQn6ois",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/v1/location/search": {
      "get": {
        "summary": "GET /api/v1/location/search",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.01"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://tripadvisor.x402.paysponge.com/api/v1/location/search",
          "description": "GET /api/v1/location/search",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:137",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9246XrsAEKH6hAyEQe5PvdpUL1p5Ktj9c7ySnwQn6ois",
            "asset": "usdc",
            "amount": "10000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    }
  },
  "x402Version": 2,
  "resource": {
    "url": "https://tripadvisor.x402.paysponge.com/",
    "description": "Tripadvisor Content API — search, location details, reviews, and photos for hotels, restaurants, and attractions worldwide.",
    "mimeType": "application/json"
  },
  "accepts": [
    {
      "scheme": "exact",
      "network": "eip155:8453",
      "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
      "asset": "usdc",
      "amount": "10000",
      "maxTimeoutSeconds": 300,
      "extra": {}
    },
    {
      "scheme": "exact",
      "network": "eip155:43114",
      "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
      "asset": "usdc",
      "amount": "10000",
      "maxTimeoutSeconds": 300,
      "extra": {}
    },
    {
      "scheme": "exact",
      "network": "eip155:137",
      "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
      "asset": "usdc",
      "amount": "10000",
      "maxTimeoutSeconds": 300,
      "extra": {}
    },
    {
      "scheme": "exact",
      "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
      "payTo": "9246XrsAEKH6hAyEQe5PvdpUL1p5Ktj9c7ySnwQn6ois",
      "asset": "usdc",
      "amount": "10000",
      "maxTimeoutSeconds": 300,
      "extra": {}
    }
  ],
  "x-payment-accepts": [
    {
      "scheme": "exact",
      "network": "eip155:8453",
      "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57"
    },
    {
      "scheme": "exact",
      "network": "eip155:43114",
      "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57"
    },
    {
      "scheme": "exact",
      "network": "eip155:137",
      "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57"
    },
    {
      "scheme": "exact",
      "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
      "payTo": "9246XrsAEKH6hAyEQe5PvdpUL1p5Ktj9c7ySnwQn6ois"
    }
  ]
}
