{
  "components": {
    "schemas": {
      "EmbeddingRequest": {
        "properties": {
          "dimensions": {
            "enum": [
              2048,
              1536,
              1024,
              768,
              512,
              256,
              128,
              64
            ],
            "type": "integer"
          },
          "encoding_format": {
            "enum": [
              "float",
              "base64"
            ],
            "type": "string"
          },
          "input": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "type": "string"
                },
                "maxItems": 10,
                "type": "array"
              }
            ]
          },
          "model": {
            "enum": [
              "text-embedding-v4"
            ],
            "type": "string"
          }
        },
        "required": [
          "model",
          "input"
        ],
        "type": "object"
      },
      "EmbeddingResponse": {
        "properties": {
          "data": {
            "items": {
              "properties": {
                "embedding": {
                  "items": {
                    "type": "number"
                  },
                  "type": "array"
                },
                "index": {
                  "type": "integer"
                },
                "object": {
                  "type": "string"
                }
              },
              "type": "object"
            },
            "type": "array"
          },
          "id": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "object": {
            "type": "string"
          },
          "usage": {
            "properties": {
              "prompt_tokens": {
                "type": "integer"
              },
              "total_tokens": {
                "type": "integer"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      },
      "ErrorResponse": {
        "properties": {
          "error": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "properties": {
                  "message": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            ]
          },
          "request_id": {
            "type": "string"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Filtered OpenAPI description for the text embedding proxy backed by Alibaba Cloud Model Studio's OpenAI-compatible embeddings endpoint.",
    "title": "Alibaba Cloud Model Studio Embeddings API",
    "version": "v1"
  },
  "openapi": "3.0.3",
  "paths": {
    "/compatible-mode/v1/embeddings": {
      "post": {
        "description": "Create dense vector embeddings with the OpenAI-compatible embeddings endpoint in Alibaba Cloud Model Studio.",
        "operationId": "alibaba.embeddings.create",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "encoding_format": "float",
                "input": "The quality of the clothes is excellent. They are beautiful.",
                "model": "text-embedding-v4"
              },
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                }
              }
            },
            "description": "Successful embedding response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            },
            "description": "Invalid request."
          }
        },
        "summary": "Create embeddings",
        "tags": [
          "embeddings"
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://embeddings.alibaba.gateway-402.com"
    }
  ],
  "tags": [
    {
      "name": "embeddings"
    }
  ]
}
