{
  "openapi": "3.1.0",
  "info": {
    "title": "StableMerch API",
    "description": "Custom merch API protected by the x402 payment protocol. Create shirts and mugs from your AI prompts or yourown images. Supports optional referral commissions added on top of the base price.",
    "version": "1.0.0",
    "x-guidance": "\n# StableMerch API\n\nCreate custom t-shirts and mugs from your own images.\n\n## Endpoints\n\n### POST /api/shirt\nCreate a shirt from your own image. Requires:\n- imageUrl: HTTP URL or base64 data URL\n- size: S, M, L, XL, 2XL, 3XL, 4XL, 5XL\n- color: Black or White\n- address_to: Shipping address object (see below)\n\nPrice: $20.00 per shirt\n\n### POST /api/heavyweight-shirt\nCreate a heavyweight shirt (Shaka Wear SHMHSS, 7.5oz USA cotton, oversized/relaxed fit) from your own image. Requires:\n- imageUrl: HTTP URL or base64 data URL\n- size: S, M, L, XL, 2XL, 3XL, 4XL, 5XL, 7XL\n- color: Black, Brown, Burgundy, Cardinal, Charcoal Grey, Dark Grey, Gold, Heather Grey, Hunter Green, Kelly Green, Khaki, Navy, Olive, Orange, Powder Blue, Powder Pink, Purple, Red, Royal, Sky Blue, Turquoise, or White\n- placement: front or back (default: front)\n- address_to: Shipping address object (see below)\n\nNote: Not all size/color combinations are available. Cardinal, Powder Blue, and Powder Pink go up to 4XL. Gold, Khaki, Olive, Orange, and Sky Blue go up to 5XL. All other colors go up to 7XL.\n\nPrice: $25.00 per heavyweight shirt\n\n### POST /api/mug\nCreate a mug from your own image. Requires:\n- imageUrl: HTTP URL or base64 data URL\n- address_to: Shipping address object (see below)\n\nPrice: $15.00 per mug\n\n## Commissions\n\nAll endpoints accept optional commission fields. When provided, the commission is added on top of the base price — the buyer pays more, and the commission amount is forwarded to the specified address after the order completes.\n\n- commission_address: EVM wallet address to receive the commission\n- commission_rate: Decimal between 0 and 1 (e.g. 0.1 = 10%)\n\nExample: A shirt with commission_rate 0.1 costs the buyer $22.00 ($20.00 base + $2.00 commission).\n\nBoth fields must be provided together for commission to apply. If omitted, the buyer pays only the base price.\n\n## address_to Object (all required unless noted)\n- first_name: Recipient's first name\n- last_name: Recipient's last name\n- email: Recipient's email address\n- phone: Phone number for shipping notifications (7-32 chars, optional)\n- country: ISO-3166-1 alpha-2 country code (e.g., \"US\", \"CA\", \"GB\")\n- region: State/province code (e.g., \"NY\", \"CA\", \"ON\")\n- address1: Street address\n- address2: (optional) Apt, suite, unit, etc.\n- city: City name\n- zip: Postal/ZIP code\n",
    "guidance": "\n# StableMerch API\n\nCreate custom t-shirts and mugs from your own images.\n\n## Endpoints\n\n### POST /api/shirt\nCreate a shirt from your own image. Requires:\n- imageUrl: HTTP URL or base64 data URL\n- size: S, M, L, XL, 2XL, 3XL, 4XL, 5XL\n- color: Black or White\n- address_to: Shipping address object (see below)\n\nPrice: $20.00 per shirt\n\n### POST /api/heavyweight-shirt\nCreate a heavyweight shirt (Shaka Wear SHMHSS, 7.5oz USA cotton, oversized/relaxed fit) from your own image. Requires:\n- imageUrl: HTTP URL or base64 data URL\n- size: S, M, L, XL, 2XL, 3XL, 4XL, 5XL, 7XL\n- color: Black, Brown, Burgundy, Cardinal, Charcoal Grey, Dark Grey, Gold, Heather Grey, Hunter Green, Kelly Green, Khaki, Navy, Olive, Orange, Powder Blue, Powder Pink, Purple, Red, Royal, Sky Blue, Turquoise, or White\n- placement: front or back (default: front)\n- address_to: Shipping address object (see below)\n\nNote: Not all size/color combinations are available. Cardinal, Powder Blue, and Powder Pink go up to 4XL. Gold, Khaki, Olive, Orange, and Sky Blue go up to 5XL. All other colors go up to 7XL.\n\nPrice: $25.00 per heavyweight shirt\n\n### POST /api/mug\nCreate a mug from your own image. Requires:\n- imageUrl: HTTP URL or base64 data URL\n- address_to: Shipping address object (see below)\n\nPrice: $15.00 per mug\n\n## Commissions\n\nAll endpoints accept optional commission fields. When provided, the commission is added on top of the base price — the buyer pays more, and the commission amount is forwarded to the specified address after the order completes.\n\n- commission_address: EVM wallet address to receive the commission\n- commission_rate: Decimal between 0 and 1 (e.g. 0.1 = 10%)\n\nExample: A shirt with commission_rate 0.1 costs the buyer $22.00 ($20.00 base + $2.00 commission).\n\nBoth fields must be provided together for commission to apply. If omitted, the buyer pays only the base price.\n\n## address_to Object (all required unless noted)\n- first_name: Recipient's first name\n- last_name: Recipient's last name\n- email: Recipient's email address\n- phone: Phone number for shipping notifications (7-32 chars, optional)\n- country: ISO-3166-1 alpha-2 country code (e.g., \"US\", \"CA\", \"GB\")\n- region: State/province code (e.g., \"NY\", \"CA\", \"ON\")\n- address1: Street address\n- address2: (optional) Apt, suite, unit, etc.\n- city: City name\n- zip: Postal/ZIP code\n",
    "contact": {
      "name": "Merit Systems",
      "url": "http://stablemerch.dev"
    }
  },
  "servers": [
    {
      "url": "http://stablemerch.dev"
    }
  ],
  "tags": [
    {
      "name": "Heavyweight Shirt"
    },
    {
      "name": "Mug"
    },
    {
      "name": "Shirt"
    }
  ],
  "paths": {
    "/api/shirt": {
      "post": {
        "operationId": "shirt",
        "summary": "Custom shirt from your image. Base price: $20. Commission (if provided) is added on top.",
        "tags": [
          "Shirt"
        ],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "20.00",
            "max": "40.00"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageUrl": {
                    "type": "string",
                    "minLength": 1,
                    "description": "HTTP/HTTPS URL or base64 data URL (data:image/...)"
                  },
                  "size": {
                    "default": "XL",
                    "type": "string",
                    "enum": [
                      "S",
                      "M",
                      "L",
                      "XL",
                      "2XL",
                      "3XL",
                      "4XL",
                      "5XL"
                    ]
                  },
                  "color": {
                    "default": "White",
                    "type": "string",
                    "enum": [
                      "Black",
                      "White"
                    ]
                  },
                  "address_to": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Recipient first name."
                      },
                      "last_name": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Recipient last name."
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$",
                        "description": "Recipient email for shipment notifications."
                      },
                      "phone": {
                        "default": "",
                        "type": "string",
                        "minLength": 7,
                        "maxLength": 32
                      },
                      "country": {
                        "type": "string",
                        "pattern": "^[A-Z]{2}$",
                        "description": "ISO 3166-1 alpha-2 country code (e.g. \"US\", \"DE\")."
                      },
                      "region": {
                        "type": "string",
                        "minLength": 1,
                        "description": "State, province, or region. For US use the 2-letter code (e.g. \"CA\")."
                      },
                      "address1": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Primary street address line."
                      },
                      "address2": {
                        "default": "",
                        "type": "string"
                      },
                      "city": {
                        "type": "string",
                        "minLength": 1,
                        "description": "City of the recipient."
                      },
                      "zip": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Postal or ZIP code."
                      }
                    },
                    "required": [
                      "first_name",
                      "last_name",
                      "email",
                      "country",
                      "region",
                      "address1",
                      "city",
                      "zip"
                    ],
                    "description": "Recipient shipping address. The fulfillment provider ships the printed item to this address. `country` is ISO 3166-1 alpha-2 (e.g. \"US\"); `region` is state/province; `zip` is the postal code."
                  },
                  "commission_address": {
                    "description": "EVM address to receive the commission. Must be provided together with commission_rate.",
                    "type": "string"
                  },
                  "commission_rate": {
                    "description": "Commission as a decimal (e.g. 0.1 = 10%). Added on top of the base price — the buyer pays base + (base × rate).",
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "exclusiveMaximum": 1
                  }
                },
                "required": [
                  "imageUrl",
                  "address_to"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "processing",
                        "failed",
                        "completed"
                      ]
                    },
                    "imageUrl": {
                      "description": "HTTP/HTTPS URL or base64 data URL (data:image/...)",
                      "type": "string"
                    },
                    "productId": {
                      "type": "string"
                    },
                    "orderId": {
                      "type": "string"
                    },
                    "trackingInfo": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "carrier": {
                              "type": "string"
                            },
                            "trackingNumber": {
                              "type": "string"
                            },
                            "trackingUrl": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "carrier",
                            "trackingNumber",
                            "trackingUrl"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/heavyweight-shirt": {
      "post": {
        "operationId": "heavyweight-shirt",
        "summary": "Custom heavyweight shirt (Shaka Wear SHMHSS) from your image. 7.5oz USA cotton, oversized/relaxed fit, 22 colors, sizes S-7XL. Base price: $25. Commission (if provided) is added on top.",
        "tags": [
          "Heavyweight Shirt"
        ],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "25.00",
            "max": "50.00"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageUrl": {
                    "type": "string",
                    "minLength": 1,
                    "description": "HTTP/HTTPS URL or base64 data URL (data:image/...)"
                  },
                  "size": {
                    "default": "XL",
                    "type": "string",
                    "enum": [
                      "S",
                      "M",
                      "L",
                      "XL",
                      "2XL",
                      "3XL",
                      "4XL",
                      "5XL",
                      "7XL"
                    ]
                  },
                  "color": {
                    "default": "White",
                    "type": "string",
                    "enum": [
                      "Black",
                      "Brown",
                      "Burgundy",
                      "Cardinal",
                      "Charcoal Grey",
                      "Dark Grey",
                      "Gold",
                      "Heather Grey",
                      "Hunter Green",
                      "Kelly Green",
                      "Khaki",
                      "Navy",
                      "Olive",
                      "Orange",
                      "Powder Blue",
                      "Powder Pink",
                      "Purple",
                      "Red",
                      "Royal",
                      "Sky Blue",
                      "Turquoise",
                      "White"
                    ]
                  },
                  "placement": {
                    "default": "front",
                    "type": "string",
                    "enum": [
                      "front",
                      "back"
                    ]
                  },
                  "address_to": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Recipient first name."
                      },
                      "last_name": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Recipient last name."
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$",
                        "description": "Recipient email for shipment notifications."
                      },
                      "phone": {
                        "default": "",
                        "type": "string",
                        "minLength": 7,
                        "maxLength": 32
                      },
                      "country": {
                        "type": "string",
                        "pattern": "^[A-Z]{2}$",
                        "description": "ISO 3166-1 alpha-2 country code (e.g. \"US\", \"DE\")."
                      },
                      "region": {
                        "type": "string",
                        "minLength": 1,
                        "description": "State, province, or region. For US use the 2-letter code (e.g. \"CA\")."
                      },
                      "address1": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Primary street address line."
                      },
                      "address2": {
                        "default": "",
                        "type": "string"
                      },
                      "city": {
                        "type": "string",
                        "minLength": 1,
                        "description": "City of the recipient."
                      },
                      "zip": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Postal or ZIP code."
                      }
                    },
                    "required": [
                      "first_name",
                      "last_name",
                      "email",
                      "country",
                      "region",
                      "address1",
                      "city",
                      "zip"
                    ],
                    "description": "Recipient shipping address. The fulfillment provider ships the printed item to this address. `country` is ISO 3166-1 alpha-2 (e.g. \"US\"); `region` is state/province; `zip` is the postal code."
                  },
                  "commission_address": {
                    "description": "EVM address to receive the commission. Must be provided together with commission_rate.",
                    "type": "string"
                  },
                  "commission_rate": {
                    "description": "Commission as a decimal (e.g. 0.1 = 10%). Added on top of the base price — the buyer pays base + (base × rate).",
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "exclusiveMaximum": 1
                  }
                },
                "required": [
                  "imageUrl",
                  "address_to"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "processing",
                        "failed",
                        "completed"
                      ]
                    },
                    "imageUrl": {
                      "description": "HTTP/HTTPS URL or base64 data URL (data:image/...)",
                      "type": "string"
                    },
                    "productId": {
                      "type": "string"
                    },
                    "orderId": {
                      "type": "string"
                    },
                    "trackingInfo": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "carrier": {
                              "type": "string"
                            },
                            "trackingNumber": {
                              "type": "string"
                            },
                            "trackingUrl": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "carrier",
                            "trackingNumber",
                            "trackingUrl"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/mug": {
      "post": {
        "operationId": "mug",
        "summary": "Custom mug from your image. Base price: $15. Commission (if provided) is added on top.",
        "tags": [
          "Mug"
        ],
        "x-payment-info": {
          "price": {
            "mode": "dynamic",
            "currency": "USD",
            "min": "15.00",
            "max": "25.00"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageUrl": {
                    "type": "string",
                    "minLength": 1,
                    "description": "HTTP/HTTPS URL or base64 data URL (data:image/...)"
                  },
                  "address_to": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Recipient first name."
                      },
                      "last_name": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Recipient last name."
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$",
                        "description": "Recipient email for shipment notifications."
                      },
                      "phone": {
                        "default": "",
                        "type": "string",
                        "minLength": 7,
                        "maxLength": 32
                      },
                      "country": {
                        "type": "string",
                        "pattern": "^[A-Z]{2}$",
                        "description": "ISO 3166-1 alpha-2 country code (e.g. \"US\", \"DE\")."
                      },
                      "region": {
                        "type": "string",
                        "minLength": 1,
                        "description": "State, province, or region. For US use the 2-letter code (e.g. \"CA\")."
                      },
                      "address1": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Primary street address line."
                      },
                      "address2": {
                        "default": "",
                        "type": "string"
                      },
                      "city": {
                        "type": "string",
                        "minLength": 1,
                        "description": "City of the recipient."
                      },
                      "zip": {
                        "type": "string",
                        "minLength": 1,
                        "description": "Postal or ZIP code."
                      }
                    },
                    "required": [
                      "first_name",
                      "last_name",
                      "email",
                      "country",
                      "region",
                      "address1",
                      "city",
                      "zip"
                    ],
                    "description": "Recipient shipping address. The fulfillment provider ships the printed item to this address. `country` is ISO 3166-1 alpha-2 (e.g. \"US\"); `region` is state/province; `zip` is the postal code."
                  },
                  "commission_address": {
                    "description": "EVM address to receive the commission. Must be provided together with commission_rate.",
                    "type": "string"
                  },
                  "commission_rate": {
                    "description": "Commission as a decimal (e.g. 0.1 = 10%). Added on top of the base price — the buyer pays base + (base × rate).",
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "exclusiveMaximum": 1
                  }
                },
                "required": [
                  "imageUrl",
                  "address_to"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "processing",
                        "failed",
                        "completed"
                      ]
                    },
                    "imageUrl": {
                      "description": "HTTP/HTTPS URL or base64 data URL (data:image/...)",
                      "type": "string"
                    },
                    "productId": {
                      "type": "string"
                    },
                    "orderId": {
                      "type": "string"
                    },
                    "trackingInfo": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "carrier": {
                              "type": "string"
                            },
                            "trackingNumber": {
                              "type": "string"
                            },
                            "trackingUrl": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "carrier",
                            "trackingNumber",
                            "trackingUrl"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "status"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    }
  }
}
