{
  "openapi": "3.1.0",
  "info": {
    "title": "StableCrypto",
    "description": "Crypto market data APIs powered by CoinGecko, DefiLlama, Alchemy, and Etherscan, protected by x402 micropayments.",
    "version": "1.0.0",
    "x-guidance": "# StableCrypto API\n> Crypto market data via x402/MPP micropayments. All endpoints POST, $0.01 each.\n\n## Base URL\nhttps://stablecrypto.dev\n\n## Auth\nx402/MPP payment (USDC on Base, Solana, or Tempo). Use check_endpoint_schema on any endpoint to get its request schema before calling.\n\n## CoinGecko — Market Data\n/api/coingecko/price, /markets, /coin, /chart, /ohlc, /history, /trending, /global, /categories, /top-movers, /exchange, /exchange/tickers, /exchange/volume-chart\nExample: POST /api/coingecko/price { \"ids\": [\"bitcoin\"], \"vs_currencies\": [\"usd\"] }\n\n## CoinGecko — On-Chain\n/api/coingecko/onchain/networks, /search, /trending, /new-pools, /categories, /pool, /pool/info, /pool/ohlcv, /pool/trades, /network/dexes, /network/trending, /network/new-pools, /network/pools, /category/pools\n\n## DefiLlama — DeFi Data\n/api/defillama/protocols, /protocol, /tvl, /chains, /chain-tvl, /coins/prices, /coins/prices-historical, /coins/batch-historical, /coins/chart, /coins/block, /stablecoins, /stablecoin, /stablecoin-charts, /stablecoin-chains, /dex-overview, /dex-summary, /options-overview, /derivatives-overview, /fees-overview, /fees-summary, /yields/pools, /yields/chart, /yields/pools-borrow, /yields/perps, /yields/lsd-rates, /emissions, /emission, /defi-categories, /forks, /oracles, /hacks, /raises, /etfs/overview, /etfs/history, /bridges, /bridge, /bridge-volume, /bridge-transactions, /treasuries, /treasury\n\n## Alchemy — Blockchain Data\n/api/alchemy/token/token-balances, /token-metadata, /token-allowance, /transfers/asset-transfers, /prices/by-symbol, /prices/by-address, /prices/historical, /portfolio/tokens, /portfolio/token-balances, /portfolio/nfts, /portfolio/nft-collections, /simulation/simulate-asset-changes, /simulation/simulate-execution, /utility/transaction-receipts, /node/rpc\n\n## Etherscan — Ethereum Explorer\n/api/etherscan/account/balance, /balance-multi, /txlist, /txlist-internal, /tokentx, /tokennfttx, /token1155tx, /contract/getabi, /getsourcecode, /getcontractcreation, /transaction/getstatus, /gettxreceiptstatus, /block/getblockreward, /logs/getLogs, /token/tokensupply, /tokeninfo, /gas/gasestimate, /gasoracle, /stats/ethprice, /ethsupply, /nodecount, /chainsize, /dailytx\n",
    "guidance": "# StableCrypto API\n> Crypto market data via x402/MPP micropayments. All endpoints POST, $0.01 each.\n\n## Base URL\nhttps://stablecrypto.dev\n\n## Auth\nx402/MPP payment (USDC on Base, Solana, or Tempo). Use check_endpoint_schema on any endpoint to get its request schema before calling.\n\n## CoinGecko — Market Data\n/api/coingecko/price, /markets, /coin, /chart, /ohlc, /history, /trending, /global, /categories, /top-movers, /exchange, /exchange/tickers, /exchange/volume-chart\nExample: POST /api/coingecko/price { \"ids\": [\"bitcoin\"], \"vs_currencies\": [\"usd\"] }\n\n## CoinGecko — On-Chain\n/api/coingecko/onchain/networks, /search, /trending, /new-pools, /categories, /pool, /pool/info, /pool/ohlcv, /pool/trades, /network/dexes, /network/trending, /network/new-pools, /network/pools, /category/pools\n\n## DefiLlama — DeFi Data\n/api/defillama/protocols, /protocol, /tvl, /chains, /chain-tvl, /coins/prices, /coins/prices-historical, /coins/batch-historical, /coins/chart, /coins/block, /stablecoins, /stablecoin, /stablecoin-charts, /stablecoin-chains, /dex-overview, /dex-summary, /options-overview, /derivatives-overview, /fees-overview, /fees-summary, /yields/pools, /yields/chart, /yields/pools-borrow, /yields/perps, /yields/lsd-rates, /emissions, /emission, /defi-categories, /forks, /oracles, /hacks, /raises, /etfs/overview, /etfs/history, /bridges, /bridge, /bridge-volume, /bridge-transactions, /treasuries, /treasury\n\n## Alchemy — Blockchain Data\n/api/alchemy/token/token-balances, /token-metadata, /token-allowance, /transfers/asset-transfers, /prices/by-symbol, /prices/by-address, /prices/historical, /portfolio/tokens, /portfolio/token-balances, /portfolio/nfts, /portfolio/nft-collections, /simulation/simulate-asset-changes, /simulation/simulate-execution, /utility/transaction-receipts, /node/rpc\n\n## Etherscan — Ethereum Explorer\n/api/etherscan/account/balance, /balance-multi, /txlist, /txlist-internal, /tokentx, /tokennfttx, /token1155tx, /contract/getabi, /getsourcecode, /getcontractcreation, /transaction/getstatus, /gettxreceiptstatus, /block/getblockreward, /logs/getLogs, /token/tokensupply, /tokeninfo, /gas/gasestimate, /gasoracle, /stats/ethprice, /ethsupply, /nodecount, /chainsize, /dailytx\n",
    "contact": {
      "name": "Merit Systems",
      "url": "https://stablecrypto.dev"
    }
  },
  "servers": [
    {
      "url": "https://stablecrypto.dev"
    }
  ],
  "tags": [
    {
      "name": "Alchemy"
    },
    {
      "name": "Coingecko"
    },
    {
      "name": "Defillama"
    },
    {
      "name": "Etherscan"
    }
  ],
  "paths": {
    "/api/coingecko/onchain/trending": {
      "post": {
        "operationId": "coingecko_onchain_trending",
        "summary": "Get trending pools across all networks",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "include": {
                    "description": "Include additional data (e.g. \"base_token\")",
                    "type": "string"
                  },
                  "page": {
                    "type": "number"
                  },
                  "duration": {
                    "description": "Trending duration (e.g. \"24h\")",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/price": {
      "post": {
        "operationId": "coingecko_price",
        "summary": "Get prices for coin(s) in given currencies",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Coin IDs (e.g. [\"bitcoin\", \"ethereum\"])"
                  },
                  "vs_currencies": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Target currencies (e.g. [\"usd\", \"eur\"])"
                  },
                  "include_market_cap": {
                    "type": "boolean"
                  },
                  "include_24hr_vol": {
                    "type": "boolean"
                  },
                  "include_24hr_change": {
                    "type": "boolean"
                  },
                  "include_last_updated_at": {
                    "type": "boolean"
                  },
                  "precision": {
                    "description": "Decimal precision (0-18)",
                    "type": "string"
                  }
                },
                "required": [
                  "ids",
                  "vs_currencies"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "description": "Map of coin ID to currency prices"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/markets": {
      "post": {
        "operationId": "coingecko_markets",
        "summary": "Get market data with sorting and pagination",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vs_currency": {
                    "type": "string",
                    "description": "Target currency (e.g. \"usd\")"
                  },
                  "ids": {
                    "description": "Filter by coin IDs",
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "category": {
                    "type": "string"
                  },
                  "order": {
                    "description": "Sort order (e.g. \"market_cap_desc\")",
                    "type": "string"
                  },
                  "per_page": {
                    "description": "Results per page (max 250)",
                    "type": "number"
                  },
                  "page": {
                    "type": "number"
                  },
                  "sparkline": {
                    "type": "boolean"
                  },
                  "price_change_percentage": {
                    "description": "Comma-separated intervals (e.g. \"1h,24h,7d\")",
                    "type": "string"
                  }
                },
                "required": [
                  "vs_currency"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "symbol": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "name": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "image": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "current_price": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "market_cap": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "market_cap_rank": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "fully_diluted_valuation": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "total_volume": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "high_24h": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "low_24h": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "price_change_24h": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "price_change_percentage_24h": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "market_cap_change_24h": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "market_cap_change_percentage_24h": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "circulating_supply": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "total_supply": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "max_supply": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "ath": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "ath_change_percentage": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "ath_date": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "atl": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "atl_change_percentage": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "atl_date": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "last_updated": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "additionalProperties": {}
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/coin": {
      "post": {
        "operationId": "coingecko_coin",
        "summary": "Get detailed coin metadata and market data",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Coin ID (e.g. \"bitcoin\")"
                  },
                  "localization": {
                    "type": "boolean"
                  },
                  "tickers": {
                    "type": "boolean"
                  },
                  "market_data": {
                    "type": "boolean"
                  },
                  "community_data": {
                    "type": "boolean"
                  },
                  "developer_data": {
                    "type": "boolean"
                  },
                  "sparkline": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "symbol": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "name": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "web_slug": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "categories": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "description": {
                      "anyOf": [
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "links": {
                      "anyOf": [
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "image": {
                      "anyOf": [
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "market_data": {
                      "anyOf": [
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "last_updated": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/chart": {
      "post": {
        "operationId": "coingecko_chart",
        "summary": "Get historical price, volume, and market cap chart data",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Coin ID"
                  },
                  "vs_currency": {
                    "type": "string",
                    "description": "Target currency"
                  },
                  "days": {
                    "type": "string",
                    "description": "Data range in days (1, 7, 14, 30, 90, 180, 365, max)"
                  },
                  "interval": {
                    "description": "Data interval (e.g. \"daily\")",
                    "type": "string"
                  },
                  "precision": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "vs_currency",
                  "days"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prices": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "prefixItems": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      }
                    },
                    "market_caps": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "prefixItems": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      }
                    },
                    "total_volumes": {
                      "type": "array",
                      "items": {
                        "type": "array",
                        "prefixItems": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "number"
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "prices",
                    "market_caps",
                    "total_volumes"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/ohlc": {
      "post": {
        "operationId": "coingecko_ohlc",
        "summary": "Get OHLC candlestick data",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Coin ID"
                  },
                  "vs_currency": {
                    "type": "string",
                    "description": "Target currency"
                  },
                  "days": {
                    "type": "string",
                    "description": "Data range (1, 7, 14, 30, 90, 180, 365)"
                  },
                  "precision": {
                    "type": "string"
                  }
                },
                "required": [
                  "id",
                  "vs_currency",
                  "days"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "number"
                      },
                      {
                        "type": "number"
                      }
                    ],
                    "description": "[timestamp, open, high, low, close]"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/history": {
      "post": {
        "operationId": "coingecko_history",
        "summary": "Get historical snapshot of coin data on a specific date",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Coin ID"
                  },
                  "date": {
                    "type": "string",
                    "description": "Date in dd-mm-yyyy format"
                  },
                  "localization": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "id",
                  "date"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "symbol": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "name": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "image": {
                      "anyOf": [
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {
                            "type": "string"
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "market_data": {
                      "anyOf": [
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "community_data": {
                      "anyOf": [
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "developer_data": {
                      "anyOf": [
                        {
                          "type": "object",
                          "propertyNames": {
                            "type": "string"
                          },
                          "additionalProperties": {}
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/trending": {
      "post": {
        "operationId": "coingecko_trending",
        "summary": "Get trending coins, NFTs, and categories",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "description": "This endpoint takes no parameters; send an empty JSON object `{}` as the body.",
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "coins": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "item": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          }
                        },
                        "required": [
                          "item"
                        ],
                        "additionalProperties": {}
                      }
                    },
                    "nfts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    },
                    "categories": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/global": {
      "post": {
        "operationId": "coingecko_global",
        "summary": "Get global crypto market stats",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "description": "This endpoint takes no parameters; send an empty JSON object `{}` as the body.",
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "active_cryptocurrencies": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "upcoming_icos": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "ongoing_icos": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "ended_icos": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "markets": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "total_market_cap": {
                          "anyOf": [
                            {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "number"
                              }
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "total_volume": {
                          "anyOf": [
                            {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "number"
                              }
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "market_cap_percentage": {
                          "anyOf": [
                            {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "number"
                              }
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "market_cap_change_percentage_24h_usd": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "updated_at": {
                          "anyOf": [
                            {
                              "type": "number"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/categories": {
      "post": {
        "operationId": "coingecko_categories",
        "summary": "Get all coin categories with market data",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "order": {
                    "description": "Sort order (e.g. \"market_cap_desc\")",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "name": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "market_cap": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "market_cap_change_24h": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "top_3_coins": {
                        "anyOf": [
                          {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "volume_24h": {
                        "anyOf": [
                          {
                            "type": "number"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "updated_at": {
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "additionalProperties": {}
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/top-movers": {
      "post": {
        "operationId": "coingecko_top-movers",
        "summary": "Get biggest 24h gainers and losers",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vs_currency": {
                    "description": "Target currency (default: \"usd\")",
                    "type": "string"
                  },
                  "duration": {
                    "description": "Duration (e.g. \"24h\")",
                    "type": "string"
                  },
                  "top_coins": {
                    "description": "Filter by top N coins (e.g. \"1000\")",
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "top_gainers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    },
                    "top_losers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/exchange": {
      "post": {
        "operationId": "coingecko_exchange",
        "summary": "Get exchange info and volume",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Exchange ID (e.g. \"binance\")"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "year_established": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "country": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "url": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "image": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "trust_score": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "trust_score_rank": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "trade_volume_24h_btc": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "trade_volume_24h_btc_normalized": {
                      "anyOf": [
                        {
                          "type": "number"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/exchange/tickers": {
      "post": {
        "operationId": "coingecko_exchange_tickers",
        "summary": "Get exchange tickers",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Exchange ID"
                  },
                  "coin_ids": {
                    "description": "Filter by coin IDs (comma-separated)",
                    "type": "string"
                  },
                  "include_exchange_logo": {
                    "type": "boolean"
                  },
                  "page": {
                    "type": "number"
                  },
                  "depth": {
                    "type": "boolean"
                  },
                  "order": {
                    "type": "string"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "tickers": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          }
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/exchange/volume-chart": {
      "post": {
        "operationId": "coingecko_exchange_volume-chart",
        "summary": "Get exchange volume history",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Exchange ID"
                  },
                  "days": {
                    "type": "string",
                    "description": "Data range in days"
                  }
                },
                "required": [
                  "id",
                  "days"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "array",
                    "prefixItems": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "[timestamp, volume]"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/onchain/networks": {
      "post": {
        "operationId": "coingecko_onchain_networks",
        "summary": "Get supported on-chain networks",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/onchain/search": {
      "post": {
        "operationId": "coingecko_onchain_search",
        "summary": "Search on-chain pools",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Search query"
                  },
                  "network": {
                    "description": "Filter by network",
                    "type": "string"
                  },
                  "page": {
                    "type": "number"
                  }
                },
                "required": [
                  "query"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/onchain/new-pools": {
      "post": {
        "operationId": "coingecko_onchain_new-pools",
        "summary": "Get new pools across all networks",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "include": {
                    "type": "string"
                  },
                  "page": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/onchain/categories": {
      "post": {
        "operationId": "coingecko_onchain_categories",
        "summary": "Get on-chain categories",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "page": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/onchain/pool": {
      "post": {
        "operationId": "coingecko_onchain_pool",
        "summary": "Get pool data (price, transactions, volume)",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "network": {
                    "type": "string",
                    "description": "Network ID (e.g. \"eth\")"
                  },
                  "address": {
                    "type": "string",
                    "description": "Pool contract address"
                  },
                  "include": {
                    "type": "string"
                  }
                },
                "required": [
                  "network",
                  "address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/onchain/pool/info": {
      "post": {
        "operationId": "coingecko_onchain_pool_info",
        "summary": "Get pool metadata",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "network": {
                    "type": "string",
                    "description": "Network ID"
                  },
                  "address": {
                    "type": "string",
                    "description": "Pool contract address"
                  }
                },
                "required": [
                  "network",
                  "address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/onchain/pool/ohlcv": {
      "post": {
        "operationId": "coingecko_onchain_pool_ohlcv",
        "summary": "Get pool OHLCV chart data",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "network": {
                    "type": "string",
                    "description": "Network ID"
                  },
                  "address": {
                    "type": "string",
                    "description": "Pool contract address"
                  },
                  "timeframe": {
                    "type": "string",
                    "description": "Timeframe (e.g. \"day\", \"hour\", \"minute\")"
                  },
                  "aggregate": {
                    "description": "Aggregate period",
                    "type": "string"
                  },
                  "before_timestamp": {
                    "type": "string"
                  },
                  "limit": {
                    "description": "Number of results",
                    "type": "number"
                  },
                  "currency": {
                    "description": "Price currency (e.g. \"usd\", \"token\")",
                    "type": "string"
                  },
                  "token": {
                    "description": "Token side (e.g. \"base\", \"quote\")",
                    "type": "string"
                  }
                },
                "required": [
                  "network",
                  "address",
                  "timeframe"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/onchain/pool/trades": {
      "post": {
        "operationId": "coingecko_onchain_pool_trades",
        "summary": "Get pool trades (last 24h)",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "network": {
                    "type": "string",
                    "description": "Network ID"
                  },
                  "address": {
                    "type": "string",
                    "description": "Pool contract address"
                  },
                  "trade_volume_in_usd_greater_than": {
                    "type": "number"
                  },
                  "page": {
                    "type": "number"
                  }
                },
                "required": [
                  "network",
                  "address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/onchain/network/dexes": {
      "post": {
        "operationId": "coingecko_onchain_network_dexes",
        "summary": "Get DEXes on a network",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "network": {
                    "type": "string",
                    "description": "Network ID"
                  },
                  "page": {
                    "type": "number"
                  }
                },
                "required": [
                  "network"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/onchain/network/trending": {
      "post": {
        "operationId": "coingecko_onchain_network_trending",
        "summary": "Get trending pools on a specific network",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "network": {
                    "type": "string",
                    "description": "Network ID"
                  },
                  "include": {
                    "type": "string"
                  },
                  "page": {
                    "type": "number"
                  },
                  "duration": {
                    "type": "string"
                  }
                },
                "required": [
                  "network"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/onchain/network/new-pools": {
      "post": {
        "operationId": "coingecko_onchain_network_new-pools",
        "summary": "Get new pools on a specific network",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "network": {
                    "type": "string",
                    "description": "Network ID"
                  },
                  "include": {
                    "type": "string"
                  },
                  "page": {
                    "type": "number"
                  }
                },
                "required": [
                  "network"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/onchain/network/pools": {
      "post": {
        "operationId": "coingecko_onchain_network_pools",
        "summary": "Get top pools on a specific network",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "network": {
                    "type": "string",
                    "description": "Network ID"
                  },
                  "include": {
                    "type": "string"
                  },
                  "page": {
                    "type": "number"
                  },
                  "sort": {
                    "description": "Sort field (e.g. \"h24_tx_count_desc\")",
                    "type": "string"
                  }
                },
                "required": [
                  "network"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/coingecko/onchain/category/pools": {
      "post": {
        "operationId": "coingecko_onchain_category_pools",
        "summary": "Get pools in a specific on-chain category",
        "tags": [
          "Coingecko"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category_id": {
                    "type": "string",
                    "description": "Category ID"
                  },
                  "include": {
                    "type": "string"
                  },
                  "page": {
                    "type": "number"
                  },
                  "sort": {
                    "type": "string"
                  }
                },
                "required": [
                  "category_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "propertyNames": {
                          "type": "string"
                        },
                        "additionalProperties": {}
                      }
                    }
                  },
                  "required": [
                    "data"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/defillama/protocols": {
      "post": {
        "operationId": "defillama_protocols",
        "summary": "List all DeFi protocols with TVL",
        "tags": [
          "Defillama"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false,
                "description": "This endpoint takes no parameters; send an empty JSON object `{}` as the body.",
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string"
                    },
                    "additionalProperties": {}
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/defillama/protocol": {
      "post": {
        "operationId": "defillama_protocol",
        "summary": "Get detailed data for a DeFi protocol",
        "tags": [
          "Defillama"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Protocol slug (e.g. \"aave\")"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/defillama/tvl": {
      "post": {
        "operationId": "defillama_tvl",
        "summary": "Get current TVL for a protocol",
        "tags": [
          "Defillama"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Protocol slug"
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/api/defillama/chains": {
      "post": {
        "operationId": "defillama_chains",
        "summary": "List all chains with TVL",
        "tags": [
          "Defillama"
        ],
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "tempo",
                "intent": "charge",
                "currency": "0x20c000000000000000000000b9537d11c60e8b50"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
[...]
