{
  "components": {
    "parameters": {
      "XDashScopeAsync": {
        "description": "Enables the asynchronous submit-and-poll workflow.",
        "in": "header",
        "name": "X-DashScope-Async",
        "required": true,
        "schema": {
          "enum": [
            "enable"
          ],
          "type": "string"
        }
      }
    },
    "schemas": {
      "AsrSubmitRequest": {
        "properties": {
          "input": {
            "properties": {
              "file_url": {
                "format": "uri",
                "type": "string"
              }
            },
            "required": [
              "file_url"
            ],
            "type": "object",
            "description": "Audio submission envelope. Provide audio data per the upstream Alibaba ASR schema (typically a URL or base64-encoded payload under `input.audio` or `input.file_urls`)."
          },
          "model": {
            "enum": [
              "qwen3-asr-flash-filetrans"
            ],
            "type": "string"
          },
          "parameters": {
            "properties": {
              "channel_id": {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              "enable_itn": {
                "type": "boolean"
              },
              "language_hints": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            },
            "type": "object"
          }
        },
        "required": [
          "model",
          "input"
        ],
        "type": "object"
      },
      "AsrTaskResponse": {
        "properties": {
          "output": {
            "properties": {
              "code": {
                "type": "string"
              },
              "end_time": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "result": {
                "properties": {
                  "transcription_url": {
                    "format": "uri",
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "scheduled_time": {
                "type": "string"
              },
              "submit_time": {
                "type": "string"
              },
              "task_id": {
                "type": "string"
              },
              "task_status": {
                "enum": [
                  "PENDING",
                  "RUNNING",
                  "SUCCEEDED",
                  "FAILED",
                  "UNKNOWN"
                ],
                "type": "string"
              }
            },
            "type": "object"
          },
          "request_id": {
            "type": "string"
          },
          "usage": {
            "properties": {
              "seconds": {
                "type": "integer"
              }
            },
            "type": "object"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Filtered OpenAPI description for the asynchronous Qwen ASR proxy backed by Alibaba Cloud Model Studio's submit-and-poll speech recognition endpoints.",
    "title": "Alibaba Cloud Model Studio Speech Recognition API",
    "version": "v1"
  },
  "openapi": "3.0.3",
  "paths": {
    "/api/v1/services/audio/asr/transcription": {
      "post": {
        "description": "Submit an audio transcription task for Qwen3-ASR-Flash-Filetrans. The request must include X-DashScope-Async: enable.",
        "operationId": "alibaba.speech.submitTranscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/XDashScopeAsync"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "input": {
                  "file_url": "https://dashscope.oss-cn-beijing.aliyuncs.com/audios/welcome.mp3"
                },
                "model": "qwen3-asr-flash-filetrans",
                "parameters": {
                  "channel_id": [
                    0
                  ],
                  "enable_itn": false
                }
              },
              "schema": {
                "$ref": "#/components/schemas/AsrSubmitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsrTaskResponse"
                }
              }
            },
            "description": "Accepted transcription task."
          }
        },
        "summary": "Submit an asynchronous transcription task",
        "tags": [
          "audio.asr"
        ]
      }
    },
    "/api/v1/tasks/{taskId}": {
      "get": {
        "description": "Poll the result of an asynchronous ASR task. The request must include X-DashScope-Async: enable.",
        "operationId": "alibaba.speech.getTask",
        "parameters": [
          {
            "in": "path",
            "name": "taskId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Async task identifier returned by the original speech/audio submission. Poll this endpoint until the task completes."
          },
          {
            "$ref": "#/components/parameters/XDashScopeAsync"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AsrTaskResponse"
                }
              }
            },
            "description": "Task status response."
          }
        },
        "summary": "Poll task status",
        "tags": [
          "tasks"
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://speech.alibaba.gateway-402.com"
    }
  ],
  "tags": [
    {
      "name": "audio.asr"
    },
    {
      "name": "tasks"
    }
  ]
}
