{
  "info": {
    "description": "Filtered OpenAPI description for the stateless synchronous Alibaba Cloud Document Parse Service proxy. The gateway serves only the allowlisted operations defined in the paired YAML manifest.",
    "title": "Alibaba Cloud Document Parse Service API",
    "version": "2026-04-14"
  },
  "openapi": "3.0.3",
  "paths": {
    "/document-parse-online-api": {
      "post": {
        "description": "Intelligent Document Parsing product supports fetching text from images and formatting the output according to natural reading order. It also supports outputting both bounding boxes and content, with output formats including JSON and Markdown. The gateway injects Alibaba RPC Action=DocumentParseOnlineApi and Version automatically before forwarding the paid request upstream.",
        "operationId": "alibaba.documentparseservice.DocumentParseOnlineApi",
        "parameters": [
          {
            "description": "Enumeration values and their meanings are as follows:\n\n0: JSON with bbox and content\n\n1: JSON with bbox\n\n2: Markdown",
            "in": "query",
            "name": "Type",
            "required": false,
            "schema": {
              "description": "Enumeration values and their meanings are as follows:\n\n0: JSON with bbox and content\n\n1: JSON with bbox\n\n2: Markdown",
              "example": "0",
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "description": "Link to the document image to be parsed (must be a publicly accessible link).",
            "in": "query",
            "name": "ImageUrl",
            "required": false,
            "schema": {
              "description": "Link to the document image to be parsed (must be a publicly accessible link).",
              "example": "https://maas-multimodal.oss-cn-hangzhou.aliyuncs.com/yuhui%2Ftmp%2Fsample500%2Ftmp%2F01e67f7c18d739a47f09d6c6b4a3d478_35.jpg?OSSAccessKeyId=LTAI5tGFE7dDsowkX8eWZMEe&Expires=1779229955&Signature=8sjYEYUHOsqCV11hC2MN%2Bs%2BguSI%3D",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Definition of response parameters",
                  "properties": {
                    "Code": {
                      "description": "Error code. This parameter is not returned when the invocation is normal.",
                      "example": "200",
                      "type": "string"
                    },
                    "Data": {
                      "description": "Annotation result, provided as a JSON-formatted text.",
                      "properties": {
                        "Content": {
                          "description": "Parse result",
                          "example": "<img src=\\\"images/bbox_1_0_118_158.jpg\\\" />\\n\\nSichuan Normal University\\n\\n## ➔ 性质\\n\\n性质一：还原性\\n\\n常温下与氧立即反应生成 $NO_{2}$:\\n\\n$$ 2NO+O_{2}\\\\rightarrow2NO_{2}\\\\ ( 红棕色 ) $$\\n\\n《无机化学》- 氢磷砷\\n\\nCollege of Chemistry & Materials Science",
                          "type": "string"
                        },
                        "RequestId": {
                          "description": "Request ID",
                          "example": "604d486c-5cdb-9261-a23b-f2f08149fece",
                          "type": "string"
                        },
                        "Usage": {
                          "description": "Token consumption information for this request.",
                          "properties": {
                            "InputTokens": {
                              "description": "Number of input tokens",
                              "example": "1657",
                              "format": "int32",
                              "type": "integer"
                            },
                            "OutputTokens": {
                              "description": "Number of output tokens",
                              "example": "96",
                              "format": "int32",
                              "type": "integer"
                            },
                            "TotalTokens": {
                              "description": "Total number of tokens consumed.",
                              "example": "1753",
                              "format": "int32",
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "Message": {
                      "description": "Error message. This parameter is not returned during normal invocation.",
                      "example": "OK",
                      "type": "string"
                    },
                    "RequestId": {
                      "description": "HTTP request RequestId",
                      "example": "E1AD60F1-BAC7-546B-9533-E7AD02B16E3F",
                      "type": "string"
                    },
                    "Success": {
                      "description": "Indicates whether the invocation succeeded: true: succeeded; false: failed.",
                      "example": "true",
                      "type": "boolean"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Code": {
                      "type": "string"
                    },
                    "Message": {
                      "type": "string"
                    },
                    "RequestId": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid request."
          }
        },
        "summary": "Document Mind Parsing"
      }
    }
  },
  "servers": [
    {
      "url": "https://documentparseservice.alibaba.gateway-402.com"
    }
  ]
}
