{
  "components": {
    "schemas": {
      "TtsRequest": {
        "properties": {
          "input": {
            "properties": {
              "instructions": {
                "type": "string"
              },
              "language_type": {
                "type": "string"
              },
              "optimize_instructions": {
                "type": "boolean"
              },
              "text": {
                "type": "string"
              },
              "voice": {
                "type": "string"
              }
            },
            "required": [
              "text",
              "voice"
            ],
            "type": "object"
          },
          "model": {
            "enum": [
              "qwen3-tts-flash",
              "qwen3-tts-instruct-flash"
            ],
            "type": "string"
          }
        },
        "required": [
          "model",
          "input"
        ],
        "type": "object"
      },
      "TtsResponse": {
        "properties": {
          "output": {
            "additionalProperties": true,
            "type": "object"
          },
          "request_id": {
            "type": "string"
          },
          "usage": {
            "additionalProperties": true,
            "type": "object"
          }
        },
        "type": "object"
      }
    }
  },
  "info": {
    "description": "Filtered OpenAPI description for the Qwen TTS proxy backed by Alibaba Cloud Model Studio's multimodal generation endpoint.",
    "title": "Alibaba Cloud Model Studio Text-to-Speech API",
    "version": "v1"
  },
  "openapi": "3.0.3",
  "paths": {
    "/api/v1/services/aigc/multimodal-generation/generation": {
      "post": {
        "description": "Synthesize speech from text using Qwen TTS voices through the multimodal generation endpoint.",
        "operationId": "alibaba.textToSpeech.generate",
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "input": {
                  "language_type": "English",
                  "text": "Let me recommend a T-shirt to everyone.",
                  "voice": "Cherry"
                },
                "model": "qwen3-tts-flash"
              },
              "schema": {
                "$ref": "#/components/schemas/TtsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TtsResponse"
                }
              }
            },
            "description": "Successful synthesis response."
          }
        },
        "summary": "Synthesize speech",
        "tags": [
          "multimodal.generation"
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://texttospeech.alibaba.gateway-402.com"
    }
  ],
  "tags": [
    {
      "name": "multimodal.generation"
    }
  ]
}
