{
  "openapi": "3.1.0",
  "info": {
    "title": "Quicknode RPC via x402",
    "description": "Pay-per-request blockchain RPC access using the x402 payment protocol. Authenticate with SIWX (Sign-In with X), pay with stablecoin micropayments, and make JSON-RPC calls to 140+ blockchain networks.",
    "version": "1.0.0",
    "contact": {
      "name": "Quicknode",
      "url": "https://www.quicknode.com"
    }
  },
  "servers": [
    {
      "url": "https://x402.quicknode.com"
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "summary": "Exchange SIWX signature for JWT",
        "operationId": "authenticate",
        "x-agentcash-auth": {
          "mode": "apiKey"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message",
                  "signature"
                ],
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "SIWX (CAIP-122) message string"
                  },
                  "signature": {
                    "type": "string",
                    "description": "Hex-encoded (EVM) or Base58-encoded (Solana) signature"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "siwx"
                    ],
                    "description": "Auth type — \"siwx\" for multi-chain authentication"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JWT token issued",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "accountId": {
                      "type": "string",
                      "description": "CAIP-10 account identifier"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/credits": {
      "get": {
        "summary": "Check credit balance",
        "operationId": "getCredits",
        "x-agentcash-auth": {
          "mode": "apiKey"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "responses": {
          "200": {
            "description": "Credit balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountId": {
                      "type": "string"
                    },
                    "credits": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/drip": {
      "post": {
        "summary": "Request testnet USDC (Base Sepolia only, one-time)",
        "operationId": "requestDrip",
        "x-agentcash-auth": {
          "mode": "apiKey"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "responses": {
          "200": {
            "description": "Faucet drip sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountId": {
                      "type": "string"
                    },
                    "walletAddress": {
                      "type": "string"
                    },
                    "transactionHash": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/networks": {
      "get": {
        "summary": "List supported network slugs",
        "operationId": "listNetworks",
        "x-agentcash-auth": {
          "mode": "apiKey"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "responses": {
          "200": {
            "description": "Supported networks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "networks": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sql/rest/v1/clusters": {
      "get": {
        "summary": "List SQL Explorer clusters",
        "description": "Free discovery endpoint (1-hour CDN cached) listing available Quicknode SQL Explorer clusters.",
        "operationId": "listSqlClusters",
        "x-agentcash-auth": {
          "mode": "public"
        },
        "responses": {
          "200": {
            "description": "Cluster list (upstream REST pass-through)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/sql/rest/v1/schema": {
      "get": {
        "summary": "List SQL Explorer schemas (all clusters)",
        "description": "Free discovery endpoint (1-hour CDN cached). Lists schemas for all clusters.",
        "operationId": "listSqlSchemas",
        "x-agentcash-auth": {
          "mode": "public"
        },
        "responses": {
          "200": {
            "description": "Schema list (upstream REST pass-through)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/sql/rest/v1/schema/{clusterId}": {
      "get": {
        "summary": "Get SQL Explorer schema for a specific cluster",
        "description": "Free discovery endpoint (1-hour CDN cached).",
        "operationId": "getSqlClusterSchema",
        "x-agentcash-auth": {
          "mode": "public"
        },
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Schema metadata (upstream REST pass-through)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Invalid cluster ID"
          }
        }
      }
    },
    "/sql/rest/v1/query": {
      "post": {
        "summary": "Execute a SQL Explorer query (SIWX drawdown)",
        "description": "Paid REST pass-through to `https://api.quicknode.com/sql/rest/v1/query`. Variable cost: the upstream response body's `credits` field is debited 1:1 from the caller's SIWX-authenticated drawdown balance (one SQL credit = one drawdown credit). Per-request `PAYMENT-SIGNATURE` is NOT accepted — callers must authenticate via SIWX and pre-fund credits.",
        "operationId": "sqlQuery",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "variable",
          "unit": "sql-credit"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query results. The `credits` field indicates the variable cost that was debited from the caller.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credits": {
                      "type": "number",
                      "description": "SQL credits consumed by this query (debited 1:1 from drawdown balance)."
                    }
                  }
                },
                "example": {
                  "credits": 485,
                  "rows": []
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — requires SIWX-authenticated drawdown",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/discovery/resources": {
      "get": {
        "summary": "Bazaar-compatible catalog of all network endpoints",
        "operationId": "discoveryResources",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated resource catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/0g-galileo/": {
      "post": {
        "summary": "JSON-RPC proxy — 0g-galileo",
        "operationId": "jsonRpc_0g_galileo",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/0g-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — 0g-mainnet",
        "operationId": "jsonRpc_0g_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/abstract-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — abstract-mainnet",
        "operationId": "jsonRpc_abstract_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/abstract-testnet/": {
      "post": {
        "summary": "JSON-RPC proxy — abstract-testnet",
        "operationId": "jsonRpc_abstract_testnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/aptos-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — aptos-mainnet",
        "operationId": "jsonRpc_aptos_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/aptos-testnet/": {
      "post": {
        "summary": "JSON-RPC proxy — aptos-testnet",
        "operationId": "jsonRpc_aptos_testnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/arbitrum-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — arbitrum-mainnet",
        "operationId": "jsonRpc_arbitrum_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/arbitrum-sepolia/": {
      "post": {
        "summary": "JSON-RPC proxy — arbitrum-sepolia",
        "operationId": "jsonRpc_arbitrum_sepolia",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/arc-testnet/": {
      "post": {
        "summary": "JSON-RPC proxy — arc-testnet",
        "operationId": "jsonRpc_arc_testnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/avalanche-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — avalanche-mainnet",
        "operationId": "jsonRpc_avalanche_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/avalanche-testnet/": {
      "post": {
        "summary": "JSON-RPC proxy — avalanche-testnet",
        "operationId": "jsonRpc_avalanche_testnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/b3-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — b3-mainnet",
        "operationId": "jsonRpc_b3_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/b3-sepolia/": {
      "post": {
        "summary": "JSON-RPC proxy — b3-sepolia",
        "operationId": "jsonRpc_b3_sepolia",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/base-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — base-mainnet",
        "operationId": "jsonRpc_base_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/base-sepolia/": {
      "post": {
        "summary": "JSON-RPC proxy — base-sepolia",
        "operationId": "jsonRpc_base_sepolia",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/bch-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — bch-mainnet",
        "operationId": "jsonRpc_bch_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/bch-testnet/": {
      "post": {
        "summary": "JSON-RPC proxy — bch-testnet",
        "operationId": "jsonRpc_bch_testnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/bera-bepolia/": {
      "post": {
        "summary": "JSON-RPC proxy — bera-bepolia",
        "operationId": "jsonRpc_bera_bepolia",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/bera-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — bera-mainnet",
        "operationId": "jsonRpc_bera_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/blast-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — blast-mainnet",
        "operationId": "jsonRpc_blast_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/blast-sepolia/": {
      "post": {
        "summary": "JSON-RPC proxy — blast-sepolia",
        "operationId": "jsonRpc_blast_sepolia",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/bsc-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — bsc-mainnet",
        "operationId": "jsonRpc_bsc_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/bsc-testnet/": {
      "post": {
        "summary": "JSON-RPC proxy — bsc-testnet",
        "operationId": "jsonRpc_bsc_testnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/btc-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — btc-mainnet",
        "operationId": "jsonRpc_btc_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/btc-testnet4/": {
      "post": {
        "summary": "JSON-RPC proxy — btc-testnet4",
        "operationId": "jsonRpc_btc_testnet4",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/celestia-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — celestia-mainnet",
        "operationId": "jsonRpc_celestia_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/celestia-mocha/": {
      "post": {
        "summary": "JSON-RPC proxy — celestia-mocha",
        "operationId": "jsonRpc_celestia_mocha",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/celo-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — celo-mainnet",
        "operationId": "jsonRpc_celo_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/cosmos-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — cosmos-mainnet",
        "operationId": "jsonRpc_cosmos_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/cyber-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — cyber-mainnet",
        "operationId": "jsonRpc_cyber_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/cyber-sepolia/": {
      "post": {
        "summary": "JSON-RPC proxy — cyber-sepolia",
        "operationId": "jsonRpc_cyber_sepolia",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/doge-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — doge-mainnet",
        "operationId": "jsonRpc_doge_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/dot-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — dot-mainnet",
        "operationId": "jsonRpc_dot_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/ethereum-hoodi/": {
      "post": {
        "summary": "JSON-RPC proxy — ethereum-hoodi",
        "operationId": "jsonRpc_ethereum_hoodi",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/ethereum-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — ethereum-mainnet",
        "operationId": "jsonRpc_ethereum_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/ethereum-sepolia/": {
      "post": {
        "summary": "JSON-RPC proxy — ethereum-sepolia",
        "operationId": "jsonRpc_ethereum_sepolia",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/fantom-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — fantom-mainnet",
        "operationId": "jsonRpc_fantom_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/flare-coston2/": {
      "post": {
        "summary": "JSON-RPC proxy — flare-coston2",
        "operationId": "jsonRpc_flare_coston2",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/flare-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — flare-mainnet",
        "operationId": "jsonRpc_flare_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/flow-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — flow-mainnet",
        "operationId": "jsonRpc_flow_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/flow-testnet/": {
      "post": {
        "summary": "JSON-RPC proxy — flow-testnet",
        "operationId": "jsonRpc_flow_testnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/fraxtal-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — fraxtal-mainnet",
        "operationId": "jsonRpc_fraxtal_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/fuel-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — fuel-mainnet",
        "operationId": "jsonRpc_fuel_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/fuel-sepolia/": {
      "post": {
        "summary": "JSON-RPC proxy — fuel-sepolia",
        "operationId": "jsonRpc_fuel_sepolia",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/gravity-alpham/": {
      "post": {
        "summary": "JSON-RPC proxy — gravity-alpham",
        "operationId": "jsonRpc_gravity_alpham",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/hedera-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — hedera-mainnet",
        "operationId": "jsonRpc_hedera_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/hedera-testnet/": {
      "post": {
        "summary": "JSON-RPC proxy — hedera-testnet",
        "operationId": "jsonRpc_hedera_testnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/hemi-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — hemi-mainnet",
        "operationId": "jsonRpc_hemi_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/hemi-testnet/": {
      "post": {
        "summary": "JSON-RPC proxy — hemi-testnet",
        "operationId": "jsonRpc_hemi_testnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/hype-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — hype-mainnet",
        "operationId": "jsonRpc_hype_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/hype-testnet/": {
      "post": {
        "summary": "JSON-RPC proxy — hype-testnet",
        "operationId": "jsonRpc_hype_testnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blockNumber",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC response from upstream node",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponse"
                },
                "example": {
                  "jsonrpc": "2.0",
                  "result": "0x1234567",
                  "id": 1
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequired"
                }
              }
            }
          }
        }
      }
    },
    "/imx-mainnet/": {
      "post": {
        "summary": "JSON-RPC proxy — imx-mainnet",
        "operationId": "jsonRpc_imx_mainnet",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.00",
          "maxPrice": "10.00"
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "siwx": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequest"
              },
              "example": {
[...]
