{
  "info": {
    "description": "Filtered OpenAPI description for the stateless synchronous Alibaba Cloud Goods Tech proxy. The gateway serves only the allowlisted operations defined in the paired YAML manifest.",
    "title": "Alibaba Cloud Goods Tech API",
    "version": "2019-12-30"
  },
  "openapi": "3.0.3",
  "paths": {
    "/classify-commodity": {
      "post": {
        "description": "This topic describes the syntax and examples of the ClassifyCommodity operation for product categorization. The gateway injects Alibaba RPC Action=ClassifyCommodity and Version automatically before forwarding the paid request upstream.",
        "operationId": "alibaba.goodstech.ClassifyCommodity",
        "parameters": [
          {
            "description": "The image URL. We recommend using an OSS link in the China (Shanghai) region. For local files or OSS links in other regions, see [File URL Processing](~~155645~~).",
            "in": "query",
            "name": "ImageURL",
            "required": true,
            "schema": {
              "description": "The image URL. We recommend using an OSS link in the China (Shanghai) region. For local files or OSS links in other regions, see [File URL Processing](~~155645~~).",
              "example": "http://viapi-test.oss-cn-shanghai.aliyuncs.com/viapi-3.0domepic/goodstech/ClassifyCommodity/ClassifyCommodity1.jpg",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "1",
                  "properties": {
                    "Data": {
                      "description": "The content of the returned result data.",
                      "properties": {
                        "Categories": {
                          "description": "The category prediction list.",
                          "items": {
                            "description": "1",
                            "properties": {
                              "CategoryId": {
                                "description": "The category ID.  \n> You can view the category IDs and category names supported by this API in the [category.txt](https://viapi-demo.oss-cn-shanghai.aliyuncs.com/doc/category.txt?spm=a2c4g.11186623.2.16.2c1d687bEDtrmY&file=category.txt) file.",
                                "example": "584",
                                "type": "string"
                              },
                              "CategoryName": {
                                "description": "The category name.  \n> You can view the category IDs and category names supported by this API in the [category.txt](https://viapi-demo.oss-cn-shanghai.aliyuncs.com/doc/category.txt?spm=a2c4g.11186623.2.16.2c1d687bEDtrmY&file=category.txt) file.",
                                "example": "旁轴相机",
                                "type": "string"
                              },
                              "Score": {
                                "description": "The matching degree of the category ID, which is greater than 0 and less than or equal to 1.",
                                "example": "0.417248",
                                "format": "float",
                                "type": "number"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "RequestId": {
                      "description": "The request ID.",
                      "example": "87C5AF93-F641-54C2-873D-0501E637489C",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Successful response."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "Code": {
                      "type": "string"
                    },
                    "Message": {
                      "type": "string"
                    },
                    "RequestId": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Invalid request."
          }
        },
        "summary": "Product Categorization"
      }
    }
  },
  "servers": [
    {
      "url": "https://goodstech.alibaba.gateway-402.com"
    }
  ]
}
