{
  "openapi": "3.1.0",
  "info": {
    "title": "Social Intel API",
    "description": "# Instagram Influencer Search API\n\nSearch 33M+ Instagram profiles by niche, country, follower count, and gender. Get business contact emails for ~50% of accounts. No signup, no API keys, no subscription — just pay per request via x402.\n\n## Why Use This API\n\n- **One API call** replaces hours of manual Instagram research\n- **Business emails** included (~50% of accounts have public contact email)\n- **No account needed** — pay with USDC on Base or Solana, results returned instantly\n- **Free demo** — add `?demo=true` to any search to preview 3 results at no cost\n- **AI agent ready** — x402 protocol, MCP server, OpenAPI spec\n\n## Use Cases\n\n- Find fitness micro-influencers in the US for a supplement brand campaign\n- Build a database of beauty influencers in India with contact emails\n- Automate travel influencer outreach for hotel chains\n- Monitor competitor brand ambassadors across categories\n\n## Quick Start\n\n**Try free:** `curl 'https://socialintel.dev/v1/search?query=yoga&demo=true'`\n\n**Paid (full results):** Use any x402 client (e.g. `npx agentcash@latest fetch`)\n\n## Dynamic Pricing\n\n| Results | Price |\n|---------|-------|\n| 1-20    | $0.50 |\n| 50      | $0.80 |\n| 100     | $1.30 |\n\n**Formula:** `price = $0.50 + max(0, limit - 20) × $0.01`\n\n## Links\n\n- [Documentation](https://socialintel.dev/docs)\n- [API Reference](https://socialintel.dev/docs/api-reference/search)\n- [MCP Server](https://smithery.ai/servers/socialintel/socialintel-mcp)\n- [llms.txt](https://socialintel.dev/llms.txt)\n- [skill.md](https://socialintel.dev/skill.md)\n",
    "contact": {
      "name": "Social Intel Support",
      "url": "https://socialintel.dev/about",
      "email": "outreach@socialintel.dev"
    },
    "license": {
      "name": "Commercial",
      "url": "https://socialintel.dev/terms"
    },
    "version": "1.0.0",
    "guidance": "Social Intel API: find Instagram influencers by niche, country, and follower count. Get business emails for ~50% of accounts. No signup, no API keys, no subscription. Try free: GET /v1/search?query=yoga&demo=true (3 results, no payment). Full access: $0.50 for 20 results, up to $1.30 for 100 results (USDC on Base or Solana via x402)."
  },
  "servers": [
    {
      "url": "https://socialintel.dev",
      "description": "Production"
    }
  ],
  "paths": {
    "/api": {
      "get": {
        "summary": "Api Info",
        "operationId": "api_info_api_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health",
        "operationId": "health_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      }
    },
    "/v1/search": {
      "get": {
        "summary": "Search Instagram Influencers — pay per request with USDC",
        "description": "Search Instagram influencers by keyword, category, demographics, or location.\n\nReturns up to 100 influencer profiles per request. Each result includes username,\nfollower count, bio, category, and business email (when available).\n\n**Dynamic pricing:** $0.50 for up to 20 results, +$0.01 per result above 20.\nExamples: 20 results = $0.50, 50 results = $0.80, 100 results = $1.30.\n\n**Free demo:** Add `demo=true` to try the API with no payment. Returns up to 3 results,\nno USDC required. Rate limited to 5 requests per hour per IP.\n\nPayment via x402 (USDC on Base or Solana). No API keys required.",
        "operationId": "search_leads_v1_search_get",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Text search by name or keyword",
              "title": "Query"
            },
            "description": "Text search by name or keyword"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Country — ISO code (US, UK, DE) or full name (United States, Germany)",
              "title": "Country"
            },
            "description": "Country — ISO code (US, UK, DE) or full name (United States, Germany)"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "City filter (e.g. 'Los Angeles', 'London'). Works without a keyword query.",
              "title": "City"
            },
            "description": "City filter (e.g. 'Los Angeles', 'London'). Works without a keyword query."
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Business category (Beauty, Fitness, Tech, etc)",
              "title": "Category"
            },
            "description": "Business category (Beauty, Fitness, Tech, etc)"
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Gender"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Gender filter: 'male' or 'female'",
              "title": "Gender"
            },
            "description": "Gender filter: 'male' or 'female'"
          },
          {
            "name": "min_followers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 1000000000,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum follower count (e.g. 10000 for micro-influencers, 100000 for macro)",
              "title": "Min Followers"
            },
            "description": "Minimum follower count (e.g. 10000 for micro-influencers, 100000 for macro)"
          },
          {
            "name": "max_followers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 1000000000,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Maximum follower count (e.g. 100000 to exclude celebrities and large brands)",
              "title": "Max Followers"
            },
            "description": "Maximum follower count (e.g. 100000 to exclude celebrities and large brands)"
          },
          {
            "name": "has_email",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "If true, only return profiles with a public business email. Useful for cold-outreach lists.",
              "title": "Has Email"
            },
            "description": "If true, only return profiles with a public business email. Useful for cold-outreach lists."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1,
              "description": "Max results to return (1-100, default 20). Pricing: 1-20=$0.50, 50=$0.80, 100=$1.30 USDC.",
              "default": 20,
              "title": "Limit"
            },
            "description": "Max results to return (1-100, default 20). Pricing: 1-20=$0.50, 50=$0.80, 100=$1.30 USDC."
          },
          {
            "name": "demo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Try the API free — returns up to 3 results, no payment required. Rate limited to 5 requests/hour/IP.",
              "default": false,
              "title": "Demo"
            },
            "description": "Try the API free — returns up to 3 results, no payment required. Rate limited to 5 requests/hour/IP."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "username": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "followers": {
                            "type": "integer"
                          },
                          "following": {
                            "type": "integer"
                          },
                          "media_count": {
                            "type": "integer"
                          },
                          "category": {
                            "type": "string"
                          },
                          "bio": {
                            "type": "string"
                          },
                          "public_email": {
                            "type": "string"
                          },
                          "is_verified": {
                            "type": "boolean"
                          },
                          "is_business": {
                            "type": "boolean"
                          },
                          "gender": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "results": [
                    {
                      "username": "yoga_with_adriene",
                      "full_name": "Adriene Mishler",
                      "followers": 2100000,
                      "following": 350,
                      "media_count": 1200,
                      "category": "Health/beauty",
                      "bio": "Yoga teacher & founder of FWFG. Find What Feels Good.",
                      "public_email": "contact@adriene.com",
                      "is_verified": true,
                      "is_business": true,
                      "gender": "woman"
                    }
                  ],
                  "count": 1,
                  "query": "yoga",
                  "source": "live"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.50",
          "maxPrice": "1.30",
          "formula": "$0.50 + max(0, limit - 20) * $0.01",
          "chains": [
            {
              "network": "eip155:8453",
              "name": "Base"
            },
            {
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "name": "Solana"
            }
          ]
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "description": "Text search by name or keyword",
                    "type": "string"
                  },
                  "country": {
                    "description": "Country — ISO code (US, UK, DE) or full name (United States, Germany)",
                    "type": "string"
                  },
                  "city": {
                    "description": "City filter (e.g. 'Los Angeles', 'London'). Works without a keyword query.",
                    "type": "string"
                  },
                  "category": {
                    "description": "Business category (Beauty, Fitness, Tech, etc)",
                    "type": "string"
                  },
                  "gender": {
                    "description": "Gender filter",
                    "type": "string",
                    "enum": [
                      "male",
                      "female"
                    ]
                  },
                  "min_followers": {
                    "description": "Minimum follower count",
                    "type": "integer"
                  },
                  "max_followers": {
                    "description": "Maximum follower count",
                    "type": "integer"
                  },
                  "has_email": {
                    "description": "If true, only return profiles with a public business email",
                    "type": "boolean"
                  },
                  "limit": {
                    "description": "Max results (1-100, default 20)",
                    "type": "integer",
                    "default": 20,
                    "minimum": 1,
                    "maximum": 100
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Search Instagram Influencers — pay per request with USDC (JSON body)",
        "description": "Search Instagram influencers via JSON body (POST). Same as GET /v1/search.\n\nAccepts all the same parameters as query params but as a JSON body — useful\nfor programmatic clients and complex filter combinations.\n\n**Dynamic pricing:** $0.50 for up to 20 results, +$0.01 per result above 20.\nPayment via x402 (USDC on Base or Solana). No API keys required.",
        "operationId": "search_leads_post_v1_search_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "description": "Text search by name or keyword",
                    "type": "string"
                  },
                  "country": {
                    "description": "Country — ISO code (US, UK, DE) or full name (United States, Germany)",
                    "type": "string"
                  },
                  "city": {
                    "description": "City filter (e.g. 'Los Angeles', 'London'). Works without a keyword query.",
                    "type": "string"
                  },
                  "category": {
                    "description": "Business category (Beauty, Fitness, Tech, etc)",
                    "type": "string"
                  },
                  "gender": {
                    "description": "Gender filter",
                    "type": "string",
                    "enum": [
                      "male",
                      "female"
                    ]
                  },
                  "min_followers": {
                    "description": "Minimum follower count",
                    "type": "integer"
                  },
                  "max_followers": {
                    "description": "Maximum follower count",
                    "type": "integer"
                  },
                  "has_email": {
                    "description": "If true, only return profiles with a public business email",
                    "type": "boolean"
                  },
                  "limit": {
                    "description": "Max results (1-100, default 20)",
                    "type": "integer",
                    "default": 20,
                    "minimum": 1,
                    "maximum": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "username": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "followers": {
                            "type": "integer"
                          },
                          "following": {
                            "type": "integer"
                          },
                          "media_count": {
                            "type": "integer"
                          },
                          "category": {
                            "type": "string"
                          },
                          "bio": {
                            "type": "string"
                          },
                          "public_email": {
                            "type": "string"
                          },
                          "is_verified": {
                            "type": "boolean"
                          },
                          "is_business": {
                            "type": "boolean"
                          },
                          "gender": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "results": [
                    {
                      "username": "yoga_with_adriene",
                      "full_name": "Adriene Mishler",
                      "followers": 2100000,
                      "following": 350,
                      "media_count": 1200,
                      "category": "Health/beauty",
                      "bio": "Yoga teacher & founder of FWFG. Find What Feels Good.",
                      "public_email": "contact@adriene.com",
                      "is_verified": true,
                      "is_business": true,
                      "gender": "woman"
                    }
                  ],
                  "count": 1,
                  "query": "yoga",
                  "source": "live"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "range",
          "minPrice": "0.50",
          "maxPrice": "1.30",
          "formula": "$0.50 + max(0, limit - 20) * $0.01",
          "chains": [
            {
              "network": "eip155:8453",
              "name": "Base"
            },
            {
              "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
              "name": "Solana"
            }
          ]
        }
      }
    },
    "/v1/search/free": {
      "get": {
        "summary": "Search Instagram Influencers — free preview, up to 3 results",
        "description": "Free preview: returns up to 3 influencer profiles. No payment required.\n\nRate-limited to 10 requests per hour per IP. For full results (up to 100),\nuse GET /v1/search with x402 payment (USDC on Base or Solana, ~$0.50/request).",
        "operationId": "search_leads_free_v1_search_free_get",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Text search by name or keyword",
              "title": "Query"
            },
            "description": "Text search by name or keyword"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Country — ISO code (US, UK, DE) or full name (United States, Germany)",
              "title": "Country"
            },
            "description": "Country — ISO code (US, UK, DE) or full name (United States, Germany)"
          },
          {
            "name": "city",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "City filter (e.g. 'Los Angeles', 'London')",
              "title": "City"
            },
            "description": "City filter (e.g. 'Los Angeles', 'London')"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Business category (Beauty, Fitness, Tech, etc)",
              "title": "Category"
            },
            "description": "Business category (Beauty, Fitness, Tech, etc)"
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Gender"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Gender filter: 'male' or 'female'",
              "title": "Gender"
            },
            "description": "Gender filter: 'male' or 'female'"
          },
          {
            "name": "min_followers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 1000000000,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "description": "Minimum follower count (e.g. 10000 for micro-influencers, 100000 for macro)",
              "title": "Min Followers"
            },
            "description": "Minimum follower count (e.g. 10000 for micro-influencers, 100000 for macro)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/search/demo": {
      "get": {
        "summary": "Homepage hero demo — cache-only, up to 5 rows with blurred emails",
        "description": "Homepage hero endpoint. Cache-only — never calls DataLikers, never\ncharges the caller. Returns up to 5 cached rows that ALL have a public\nemail (filter is enforced at the SQL layer). Emails are partially\nredacted by ``cache.get_cached_results`` so full emails never escape\nthis path; the paid ``/v1/search`` endpoint opts into raw emails\nexplicitly after x402 settlement.\n\nSchema is enforced by ``DemoSearchResponse`` — any extra field the\ncache returns is stripped before serialization. Rate-limited per IP.",
        "operationId": "search_leads_hero_demo_v1_search_demo_get",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Keyword or bio text",
              "title": "Query"
            },
            "description": "Keyword or bio text"
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Country — ISO code (US, UK, DE) or full name",
              "title": "Country"
            },
            "description": "Country — ISO code (US, UK, DE) or full name"
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Category (Beauty, Fitness, Food, Fashion, Travel)",
              "title": "Category"
            },
            "description": "Category (Beauty, Fitness, Food, Fashion, Travel)"
          },
          {
            "name": "gender",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/Gender"
                },
                {
                  "type": "null"
                }
              ],
              "description": "female or male",
              "title": "Gender"
            },
            "description": "female or male"
          },
          {
            "name": "min_followers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 1000000000,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "title": "Min Followers"
            }
          },
          {
            "name": "max_followers",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 1000000000,
                  "minimum": 0
                },
                {
                  "type": "null"
                }
              ],
              "title": "Max Followers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DemoSearchResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/user/{username}": {
      "get": {
        "tags": [
          "lookup"
        ],
        "summary": "Lookup one Instagram profile — pay $0.01 USDC per profile",
        "description": "Look up one public Instagram profile by username.\n\nReturns bio, follower count, business category, redacted email, and basic\nprofile metadata. **Email is partially redacted** (`fo***@domain.com`); use\n`/v1/search` to get raw emails for outreach lists.\n\n**Pricing:** $0.01 USDC per request, regardless of cache hit or miss.\nPay via x402 on Base, Solana, Polygon, or Arbitrum. No API keys.\n\nCommon usage: enrich a list of usernames you scraped or already know about.",
        "operationId": "get_user_profile_v1_user__username__get",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Username"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile data (cached or freshly fetched)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          },
          "402": {
            "description": "Payment required — $0.01 USDC via x402"
          },
          "404": {
            "description": "Username not found on Instagram"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/contact": {
      "get": {
        "tags": [
          "contact"
        ],
        "summary": "Contact Info",
        "description": "How to reach us — for agents and humans.\n\nReturns contact methods and instructions for submitting an inquiry.\nUse POST /v1/contact to send a message directly.",
        "operationId": "contact_info_v1_contact_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "contact"
        ],
        "summary": "Submit Inquiry",
        "description": "Tell us what you need — we solve any data problem.\n\nFree endpoint. No payment required. Describe what data or API capability\nyou're looking for, and we'll get back to you. Ideal for agents that\nhit the payment wall but want to explore options first.\n\nWe can build custom data feeds, add new filters, adjust pricing,\nor connect you with the right data source for your use case.",
        "operationId": "submit_inquiry_v1_contact_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ContactRequest": {
        "properties": {
          "message": {
            "type": "string",
            "maxLength": 2000,
            "minLength": 5,
            "title": "Message",
            "description": "What do you need? Describe the data problem you're trying to solve."
          },
          "contact": {
            "type": "string",
            "maxLength": 500,
            "title": "Contact",
            "description": "Where to reach you: email, webhook URL, wallet address, or any identifier.",
            "default": ""
          },
          "use_case": {
            "type": "string",
            "maxLength": 500,
            "title": "Use Case",
            "description": "Brief context: what is your agent/app building? (e.g. 'travel influencer CRM', 'brand monitoring bot')",
            "default": ""
          }
        },
        "type": "object",
        "required": [
          "message"
        ],
        "title": "ContactRequest"
      },
      "DemoSearchResponse": {
        "properties": {
          "results": {
            "items": {
              "$ref": "#/components/schemas/DemoSearchRow"
            },
            "type": "array",
            "title": "Results"
          },
          "count": {
            "type": "integer",
            "title": "Count"
          },
          "cached": {
            "type": "boolean",
            "title": "Cached",
            "default": true
          },
          "upgrade_url": {
            "type": "string",
            "title": "Upgrade Url"
          }
        },
        "type": "object",
        "required": [
          "results",
          "count",
          "upgrade_url"
        ],
        "title": "DemoSearchResponse"
      },
      "DemoSearchRow": {
        "properties": {
          "username": {
            "type": "string",
            "title": "Username"
          },
          "followers": {
            "type": "integer",
            "title": "Followers",
            "default": 0
          },
          "public_email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Public Email"
          },
          "email_redacted": {
            "type": "boolean",
            "title": "Email Redacted",
            "default": false
          },
          "bio": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bio"
          },
          "category": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Category"
          },
          "country": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Country"
          },
          "is_verified": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Verified"
          },
          "gender": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Gender"
          },
          "is_business": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Business"
          }
        },
        "type": "object",
        "required": [
          "username"
        ],
        "title": "DemoSearchRow"
      },
      "Gender": {
        "type": "string",
        "enum": [
          "male",
          "female"
        ],
        "title": "Gender"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "Notice": {
        "properties": {
          "type": {
            "type": "string",
            "title": "Type",
            "description": "Notice type, e.g. 'onboarding_outreach'"
          },
          "text": {
            "type": "string",
            "title": "Text",
            "description": "Human-readable message"
          },
          "url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Url",
            "description": "Optional action URL"
          }
        },
        "type": "object",
        "required": [
          "type",
          "text"
        ],
        "title": "Notice",
        "description": "Non-blocking server message. Empty list in normal responses."
      },
      "ResponseMeta": {
        "properties": {
          "notices": {
            "items": {
              "$ref": "#/components/schemas/Notice"
            },
            "type": "array",
            "title": "Notices",
            "description": "Zero or more server notices"
          }
        },
        "type": "object",
        "title": "ResponseMeta",
        "description": "Response metadata. `notices` is always present, usually empty."
      },
      "SearchRequest": {
        "properties": {
          "query": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Query",
            "description": "Text search by name or keyword"
          },
          "country": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Country",
            "description": "Country — ISO code (US, UK, DE) or full name (United States, Germany)"
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "City",
            "description": "City filter (e.g. 'Los Angeles', 'London'). Works without a keyword query."
          },
          "category": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Category",
            "description": "Business category (Beauty, Fitness, Tech, etc)"
          },
          "gender": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Gender"
              },
              {
                "type": "null"
              }
            ],
            "description": "Gender filter: 'male' or 'female'"
          },
          "min_followers": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 1000000000.0,
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Min Followers",
            "description": "Minimum follower count (e.g. 10000 for micro-influencers, 100000 for macro)"
          },
          "max_followers": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 1000000000.0,
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Followers",
            "description": "Maximum follower count (e.g. 100000 to exclude celebrities and large brands)"
          },
          "has_email": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Has Email",
            "description": "If true, only return profiles with a public business email — useful for cold-outreach lists."
          },
          "limit": {
            "type": "integer",
            "maximum": 100.0,
            "minimum": 1.0,
            "title": "Limit",
            "description": "Max results to return (1-100, default 20). Pricing: 1-20=$0.50, 50=$0.80, 100=$1.30 USDC.",
            "default": 20
          },
          "demo": {
            "type": "boolean",
            "title": "Demo",
            "description": "Try the API free — returns up to 3 results, no payment required.",
            "default": false
          }
        },
        "type": "object",
        "title": "SearchRequest",
        "description": "Request body for POST /v1/search (mirrors GET query params)."
      },
      "SearchResponse": {
        "properties": {
          "results": {
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            },
            "type": "array",
            "title": "Results",
            "description": "List of matching influencer profiles"
          },
          "count": {
            "type": "integer",
            "title": "Count",
            "description": "Number of results returned"
          },
          "meta": {
            "$ref": "#/components/schemas/ResponseMeta",
            "description": "Response metadata (notices, etc.)"
          }
        },
        "type": "object",
        "required": [
          "results",
          "count"
        ],
        "title": "SearchResponse",
        "description": "Successful response from /v1/search.",
        "example": {
          "count": 1,
          "meta": {
            "notices": []
          },
          "results": [
            {
              "bio": "Yoga teacher & filmmaker from Austin TX",
              "category": "Fitness",
              "followers": 10500000,
              "full_name": "Adriene Mishler",
              "gender": "woman",
              "is_business": true,
              "is_verified": true,
              "public_email": "contact@adriene.com",
              "username": "yoga_with_adriene"
            }
          ]
        }
      },
      "SearchResult": {
        "properties": {
          "username": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Username",
            "description": "Instagram username (handle, without @)"
          },
          "full_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Full Name",
            "description": "Display name on the Instagram profile"
          },
          "followers": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Followers",
            "description": "Total follower count"
          },
          "following": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Following",
            "description": "Accounts this user follows"
          },
          "media_count": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Media Count",
            "description": "Number of posts on the profile"
          },
          "category": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Category",
            "description": "Instagram business category (Fitness, Beauty, Travel, etc.)"
          },
          "bio": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bio",
            "description": "Profile bio text"
          },
          "public_email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Public Email",
            "description": "Business contact email (~50% of accounts have one). Redacted in demo mode."
          },
          "is_verified": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Verified",
            "description": "Instagram blue-check verification status"
          },
          "is_business": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Business",
            "description": "Whether the account is registered as a business account"
          },
          "gender": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Gender",
            "description": "Inferred gender ('man' or 'woman'), when available"
          }
        },
        "type": "object",
        "title": "SearchResult",
        "description": "One influencer profile returned by /v1/search."
      },
      "UserProfile": {
        "properties": {
          "username": {
            "type": "string",
            "title": "Username",
            "description": "Instagram handle, no @"
          },
          "full_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Full Name",
            "description": "Display name"
          },
          "bio": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bio",
            "description": "Profile biography"
          },
          "followers": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Followers",
            "description": "Follower count"
          },
          "following": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Following",
            "description": "Accounts followed"
          },
          "media_count": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Media Count",
            "description": "Total posts"
          },
          "is_verified": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Verified",
            "description": "Blue-check status"
          },
          "is_business": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Is Business",
            "description": "Registered business account"
          },
          "category": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Category",
            "description": "Business category, when available"
          },
          "public_email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Public Email",
            "description": "Business email — partially redacted (fo***@domain.com). Use /v1/search to unlock raw emails in bulk."
          },
          "profile_pic_url": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Profile Pic Url",
            "description": "CDN URL for profile photo"
          },
          "cached": {
            "type": "boolean",
            "title": "Cached",
            "description": "True if served from our cache (no fresh fetch)"
          },
          "fetched_at": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Fetched At",
            "description": "ISO timestamp of when this profile data was last refreshed"
          }
        },
        "type": "object",
        "required": [
          "username",
          "cached"
        ],
        "title": "UserProfile",
        "description": "One Instagram user profile returned by /v1/user/{username}."
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    }
  },
  "externalDocs": {
    "description": "Full documentation, llms.txt, and MCP server",
    "url": "https://socialintel.dev/docs"
  }
}
