{
  "openapi": "3.1.0",
  "info": {
    "title": "ScreenshotOne",
    "description": "ScreenshotOne website screenshot API — PNG/JPEG/WebP screenshots, PDFs, rendered HTML, and animated videos/GIFs from any URL or HTML payload.",
    "version": "1.0.0",
    "x-agentcash-auth": {
      "mode": "paid"
    }
  },
  "servers": [
    {
      "url": "https://screenshotone.x402.paysponge.com"
    }
  ],
  "paths": {
    "/animate": {
      "get": {
        "summary": "GET /animate",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.02"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://screenshotone.x402.paysponge.com/animate",
          "description": "GET /animate",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "20000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "20000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:137",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "20000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9246XrsAEKH6hAyEQe5PvdpUL1p5Ktj9c7ySnwQn6ois",
            "asset": "usdc",
            "amount": "20000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/take": {
      "get": {
        "summary": "GET /take",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.02"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://screenshotone.x402.paysponge.com/take",
          "description": "GET /take",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "20000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "20000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:137",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "20000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9246XrsAEKH6hAyEQe5PvdpUL1p5Ktj9c7ySnwQn6ois",
            "asset": "usdc",
            "amount": "20000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      },
      "post": {
        "summary": "POST /take",
        "x-agentcash-auth": {
          "mode": "paid"
        },
        "x-payment-required": true,
        "x-payment-info": {
          "protocols": [
            "x402"
          ],
          "pricingMode": "fixed",
          "price": "$0.02"
        },
        "x402Version": 2,
        "resource": {
          "url": "https://screenshotone.x402.paysponge.com/take",
          "description": "POST /take",
          "mimeType": "application/json"
        },
        "accepts": [
          {
            "scheme": "exact",
            "network": "eip155:8453",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "20000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:43114",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "20000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "eip155:137",
            "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
            "asset": "usdc",
            "amount": "20000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          },
          {
            "scheme": "exact",
            "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
            "payTo": "9246XrsAEKH6hAyEQe5PvdpUL1p5Ktj9c7ySnwQn6ois",
            "asset": "usdc",
            "amount": "20000",
            "maxTimeoutSeconds": 300,
            "extra": {}
          }
        ],
        "extensions": {
          "bazaar": {
            "info": {
              "input": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              },
              "output": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    }
  },
  "x402Version": 2,
  "resource": {
    "url": "https://screenshotone.x402.paysponge.com/",
    "description": "ScreenshotOne website screenshot API — PNG/JPEG/WebP screenshots, PDFs, rendered HTML, and animated videos/GIFs from any URL or HTML payload.",
    "mimeType": "application/json"
  },
  "accepts": [
    {
      "scheme": "exact",
      "network": "eip155:8453",
      "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
      "asset": "usdc",
      "amount": "20000",
      "maxTimeoutSeconds": 300,
      "extra": {}
    },
    {
      "scheme": "exact",
      "network": "eip155:43114",
      "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
      "asset": "usdc",
      "amount": "20000",
      "maxTimeoutSeconds": 300,
      "extra": {}
    },
    {
      "scheme": "exact",
      "network": "eip155:137",
      "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57",
      "asset": "usdc",
      "amount": "20000",
      "maxTimeoutSeconds": 300,
      "extra": {}
    },
    {
      "scheme": "exact",
      "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
      "payTo": "9246XrsAEKH6hAyEQe5PvdpUL1p5Ktj9c7ySnwQn6ois",
      "asset": "usdc",
      "amount": "20000",
      "maxTimeoutSeconds": 300,
      "extra": {}
    }
  ],
  "x-payment-accepts": [
    {
      "scheme": "exact",
      "network": "eip155:8453",
      "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57"
    },
    {
      "scheme": "exact",
      "network": "eip155:43114",
      "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57"
    },
    {
      "scheme": "exact",
      "network": "eip155:137",
      "payTo": "0x6302D9e6DBB22fEC3c350551568Bb39B4b35Ad57"
    },
    {
      "scheme": "exact",
      "network": "solana:5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp",
      "payTo": "9246XrsAEKH6hAyEQe5PvdpUL1p5Ktj9c7ySnwQn6ois"
    }
  ]
}
